{% extends "b2note_app/__base.html" %}

{% block content %}

    <div class="container" id="feedbackpage_content">

        <div class="container col-xs-12 pull-center" style="margin-left:0;padding-left:5;margin-bottom:20px;">
            <h3>Feedback</h3>
        </div>

        <br>

        {% if msg %}

            <p>{{ msg }}</p>

            <p>What would you like to do next?</p>

            <a href="/interface_main" class="btn btn-default">Main page</a>
            <a href="/accounts/feedbackpage" class="btn btn-default">More feedback</a>

        {% else %}

            <ul class="nav nav-tabs" id="create_tabs">
                <li class="active"><a data-toggle="tab" href="#feedback">Evaluate</a></li>
                <li><a data-toggle="tab" href="#feature">Feature request</a></li>
                <li><a data-toggle="tab" href="#bug_report">Bug report</a></li>
            </ul>
            <div id="feedbackpage_tab_contents" class="tab-content">
                <div id="feedback" class="tab-pane fade in active form-group">
                    <form action="/accounts/feedbackpage" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {{feedback_f.as_p}}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <button type="submit" class="btn btn-default" id="feedback_submit" name="feedback_submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="feature" class="tab-pane fade in form-group">
                    <form action="/accounts/feedbackpage" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {{feature_f.as_p}}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <button type="submit" class="btn btn-default" id="feature_submit" name="feature_submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="bug_report" class="tab-pane fade in form-group">
                    <form action="/accounts/feedbackpage" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {{bugreport_f.as_p}}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <button type="submit" class="btn btn-default" id="bug_submit" name="bug_submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}