{% extends "b2note_app/__base.html" %}

{% block content %}

    {% if subject_tofeed %}

        <script>show_iframe();</script>

    {% else %}

        <script>hide_iframe();</script>

    {% endif %}

    <div class="container" id="loginform">
        <div class="container col-xs-12 pull-center" style="margin-left:0;padding-left:5;margin-bottom:20px;">
            <h3>Login</h3><br>
            <p>B2note uses a popup to connect to your b2access user account.
                Please allow b2note to open popups in the settings of your browser.</p>
            <br><br>
            <button class="btn btn-default"  onclick='b2access();'>Login with B2Access</button>
            <br>
            <br>
            <div id="waiting"></div>
            <br>
            <br>
            <button style="display: none" class="btn btn-default" onclick='window.location="/accounts/old_login"'>Old b2note login</button>

        </div>
    </div>
<script>
    function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

/*
// https://stackoverflow.com/questions/247483/http-get-request-in-javascript
// this is supposed to be better, because asynchronous, except it does not work, so I use the first one
function httpGetA(theUrl, callback){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        callback(xmlHttp.responseText);
    }
xmlHttp.open("GET", theUrl, true); // true for asynchronous
xmlHttp.send(null);
}
*/

// this asks the server if we're logged in, every 2 seconds. If we are, or if we need registration, we get redirected to interface_main.
a = ""
doit = function(){
    setTimeout(function(){
        a = httpGet('/accounts/polling')
        if (a=="logged"){
            window.location="/interface_main"
        }
        else if (a=="do_registration"){
            window.location="/interface_main"
        }
        else {
            waiting(a)
        }
        doit()
    }, 2000);
}
doit()

// display a message for the user
// a is worth "wait" if the popup was opened, and "canceled" if the user declined B2Access
waiting = function(x){
    div = document.getElementById('waiting')
    if (x=="wait"){
        div.innerHTML = "Connecting..."
    }
    else {
        div.innerHTML = ""
    }
}

b2access = function(){
    window.open("/accounts/auth_main", "B2Access", "width=1700");
}
// only open popup when the user is not comming from the logout page
{% if popup %}
    b2access()
{% endif %}



</script>


{% endblock %}
