<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        {% load staticfiles %}

        <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/utils.js' %}"></script>

        <title>B2Note service demo</title>

    </head>

    <body id="loginpage">

        {% if subject_tofeed %}

        <script>show_iframe();</script>

        {% else %}

        <script>hide_iframe();</script>

        {% endif %}

        <div class="navbar navbar-default navbar-static-top">

            <div class="container">

                <div class="navbar-brand">B2Note console</div>

            </div>

            <div class="container" align="right">

                <a href="/accounts/register" alt="Registration" title="Register">
                    <button type="submit" class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                </a>

                <a href="/help" alt="Help" title="Help">
                    <button type="submit" class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-home"></i>
                    </button>
                </a>

            </div>

        </div>

        <div class="container" id="loginform">

            <h3>Login</h3>

            <br>

            <form action="login" method="post" class="form-horizontal">

                {% csrf_token %}

                {% for f in form %}

                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="{{ f.label|lower }}" name="{{ f.id_for_label|slice:'3:' }}" class="form-control" id="formfield" placeholder="Enter {{ f.label|lower }}" />
                    </div>
                </div>

                {% endfor %}

                <!--<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <div class="checkbox">
                            <label><input type="checkbox" name="keeplog"> Keep me logged in.</label>
                        </div>
                    </div>
                </div>-->

                <div class="form-group">
                    <table class="col-sm-offset-2 col-sm-6">
                        <tr>
                            <td>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-default">Login</button>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-6">
                                    <a target="_self" href="/accounts/register">New user? Register.</a>
                                </div>
                                <div class="col-sm-6">
                                    <a target="_self" href="/accounts/reset_password">Forgot password.</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

        </div>

    </body>

</html>