{% extends "b2note_app/__base.html" %}

{% block content %}

	<h3>User account</h3>

	<div class="container" id="homepageform">

		<div class="row">

			<div class="container" id="profileform">

				<form action="register" method="post" class="form-horizontal">

					{% for f in form %}

					<div class="form-group">
						<label class="control-label col-sm-2">{{ f.label }}:</label>

						<div class="col-sm-4">
							<input type="text" class="form-control" id="some-id" value="{{ f.value }}" readonly="readonly"/>
						</div>
					</div>

					{% endfor %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}
