{% extends "b2note_app/__base.html" %}

{% block content %}

	<h3>User account</h3>

	<div class="container">

		<table class="table table-condensed table-responsive table-striped" style="font-size:12px;margin-top:20px;word-break:break-word;">
			{% for f in form %}
				<tr>
					<td class="col-xs-4 col-md-4">
						<strong>{{ f.label }}:</strong>
					</td>
					<td class="col-xs-8 col-md-8">
						{% if f.label == "Annotator experience" %}
							{% if f.value == "b" %}
								beginner
							{% elif f.value == "i" %}
								intermediate
							{% elif f.value == "e" %}
								expert
							{% endif %}
						{% else %}
							{{ f.value }}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

	</div>

{% endblock %}
