<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	{% load staticfiles %}

    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>

	<title>B2Note service demo</title>

</head>

<body id="loginpage">

	<header>

		<div id="header-top">

			<a href="http://www.eudat.eu" target="_blank">GO TO EUDAT WEBSITE</a>

		</div>

		<div class = "container" id="header">

            <section class="row">

                <div class="col-xs-8 col-sm-4 col-md-2">

                    <img alt="EUDAT" title="EUDAT" src="{% static 'images/EUDAT-logo_3.png' %}" />

                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">

    			    <img alt="B2NOTE" title="B2NOTE" src="{% static 'images/B2NOTE-logo.png' %}" />

                </div>

                <div class="clear"> </div>

            </section>

		</div>

        <div class="clear"> </div>

	</header>

	<div class="container" id="loginform">

        <h2>Registration</h2>

        <br>

        <form action="register" method="post" class="form-horizontal">

            {% csrf_token %}

            {% for f in form %}

                {% if f.id_for_label|slice:"3:" == "captcha_1" %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>
                        {{ f }}
                    </div>

                {% elif f.id_for_label|slice:"3:" == "country" %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>
                        <div class="col-sm-10">
                            <select name='{{ f.id_for_label|slice:"3:" }}' class="selectpicker">
                                {% for c in f.field.choices %}
                                    <option value="{{c.0}}">{{ c.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                {% elif f.id_for_label|slice:"3:" == "annotator_exp" %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>
                        <div class="col-sm-10">
                            <select name='{{ f.id_for_label|slice:"3:" }}' class="selectpicker">
                                {% for c in f.field.choices %}
                                    <option value="{{c.0}}">{{ c.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                {% elif f.id_for_label|slice:"3:-1" == "password" %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label}}:</label>
                        <div class="col-sm-10">
                            <input type="password" name='{{ f.id_for_label|slice:"3:" }}' class="form-control" id="some-id" placeholder="Enter {{ f.label|lower }}" />
                        </div>
                    </div>

                {% else %}

                    <div class="form-group">
                        <label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>
                        <div class="col-sm-10">
                            <input type="text" name='{{ f.id_for_label|slice:"3:" }}' class="form-control" id="some-id" placeholder="Enter {{ f.label|lower }}" />
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

	</div>

	<footer>
		<div id="footer-content">
			<img alt="CE logo" title="CE logo" src="{% static 'images/logo_ce.jpg' %}" />
			<p>
				EUDAT receives funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 654065.
				<a href="http://www.eudat.eu/legal-notice" target="_blank">Legal Notice</a>
			</p>
		</div>
	</footer>

</body>

</html>