{% extends "b2note_app/__base.html" %}

{% block content %}

	<div class="container" id="registration_form">

        <h3>Registration</h3>

        <form action="register" method="post" class="form-horizontal">

            {% csrf_token %}

            {% for f in form %}

                {% if f.id_for_label|slice:"3:" == "captcha_1" %}

                    {% if f.errors %}

            <div class="col-sm-4-offset-sm-2">
                <div class="form-group has-error has-feedback">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <!--<input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">-->
                    <!--<span id="inputError2Status" class="sr-only">(error)</span>-->
                    <label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>
                    {{ f }}
                </div>
            </div>

                    {% else %}

            <div class="form-group">
                <!--<label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>-->
                {{ f }}
            </div>

                    {% endif %}

                {% elif f.id_for_label|slice:"3:" == "country" %}

            <div class="form-group">
                <!--<label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>-->
                <div class="col-sm-6">
                    <select name='{{ f.id_for_label|slice:"3:" }}' class="selectpicker">
                        {% for c in f.field.choices %}
                            <option value="{{c.0}}">{{ c.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

                {% elif f.id_for_label|slice:"3:" == "annotator_exp" %}

            <div class="form-group">
                <!--<label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>-->
                <div class="col-sm-6">
                    <select name='{{ f.id_for_label|slice:"3:" }}' class="selectpicker">
                        {% for c in f.field.choices %}
                            <option value="{{c.0}}">{{ c.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

                {% elif f.id_for_label|slice:"3:-1" == "password" %}

            <div class="form-group">
                <!--<label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label}}:</label>-->
                <div class="col-sm-6">
                    <input type="password" name='{{ f.id_for_label|slice:"3:" }}' class="form-control" id="some-id" placeholder="Enter {{ f.label|lower }}" />
                </div>
            </div>

                {% else %}

            <div class="form-group">
                <!--<label class="control-label col-sm-2" for='{{ f.id_for_label|slice:"3:" }}'>{{ f.label }}:</label>-->
                <div class="col-sm-6">
                    <input type="text" name='{{ f.id_for_label|slice:"3:" }}' class="form-control" id="id" placeholder="Enter {{ f.label|lower }}" />
                </div>
            </div>

                {% endif %}

            {% endfor %}

            <div>

                <a data-toggle="collapse" href="#collapse1">B2Note registration disclaimer</a>

                <div id="collapse1" class="panel-collapse collapse">

                    <p>

                        B2Note is a crowdsourcing annotation service.
                        As such there is a minimum set of information that we ask be filled-in to register to the service.
                        This information may only be used solely for the purpose of identifying categories of users and analyse the usage these catgories have of the service for us to specifically improve functionalities of particular interest to each category, as well as helping prevent any unwarranted usage.

                    </p>

                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

	</div>

{% endblock %}