{% extends "b2note_app/__base.html" %}

{% block content %}

    <div class="container" id="resetpasswordform">

        <h3>Reset password</h3>

        {# test template #}
        <!-- code for displaying success or error message in template -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            {% endif %}
        </ul>

        <!-- Form rendering code for template -->
        <form action="/accounts/reset_password" method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" />

        </form>

        <br>

        <a href="/accounts/request_account_retrieval">Forgot credentials.</a>

        <br><br>

    </div>

{% endblock %}