<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        {% load staticfiles %}

        <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/utils.js' %}"></script>

        <title>B2Note service demo</title>

    </head>

    <body id="resetpasswordpage">

        <div class="navbar navbar-default navbar-static-top">

            <div class="container">

                <div class="navbar-brand">B2Note console</div>

            </div>

            <div class="container" align="right">

                <a href="/accounts/login" alt="Login" title="Login">
                    <button type="submit" class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                </a>

                <a href="/accounts/register" alt="Registration" title="Register">
                    <button type="submit" class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                </a>

                <a href="/help" alt="Help" title="Help">
                    <button type="submit" class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-home"></i>
                    </button>
                </a>

            </div>

        </div>

        <div class="container" id="resetpasswordform">

            <a href="/accounts/login" alt="Login" title="Login">
                <button type="submit" class="btn btn-link">
                    <i class="glyphicon glyphicon-user"></i>
                </button>
            </a>

            <h3>Reset password</h3>

            {# test template #}
            <!-- code for displaying success or error message in template -->
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                {% endif %}
            </ul>

            <!-- Form rendering code for template -->
            <form action="/accounts/reset_password" method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Submit" />

            </form>

            <br>

            <a href="/accounts/request_account_retrieval">Forgot credentials.</a>

            <br><br>

            <a href="/" target="_parent">Back to demo index page</a>

        </div>

    </body>

</html>