{% extends "b2note_app/__base.html" %}

{% block content %}

    {% for e in form %}

        {% if e.id_for_label == "id_email_or_username" %}

            <div class="container" id="resetpasswordform">

        {% elif e.id_for_label == "id_new_password2" %}

            <div class="container" id="resetpasswordform" style="padding-top:40px">

        {% endif %}

    {% endfor %}

        <div class="container cols-xs-6">
            <h3>Reset password</h3>
        </div>

        <br>

        {# reset_password template #}
        <!-- code for displaying success or error message in template -->
        {% if messages %}
        <div class="container">
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% else %}

            {% for e in form %}

                {% if e.id_for_label == "id_email_or_username" %}

                    <div class="container">

                        <div class="container">
                            <p id="reset_pass_laius01">Please enter the email address used for registering to the service.</p>
                            <p id="reset_pass_laius02">We will send there the necessary information for resetting the password of your account.</p>
                        </div>

                        <!-- Form rendering code for template -->

                        <form action="/accounts/reset_password" method="post">

                            {% csrf_token %}

                            <div class="container">
                                {{ form.as_p }}
                            </div>

                            <table class="col-sm-2">
                                <tr>
                                    <td>
                                        <div class="container">
                                            <input class="btn btn-default" type="submit" value="Send" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="container" style="padding-left:0px;">
                                            <a href="/accounts/request_account_retrieval">Forgot credentials.</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>

                {% elif e.id_for_label == "id_new_password2" %}

                    <div class="container">

                        <!-- Form rendering code for template -->

                        <form action={{ request.get_full_path }} method="post">

                            {% csrf_token %}

                            <div class="container">
                                {{ form.as_p }}
                            </div>

                            <table class="col-sm-2">
                                <tr>
                                    <td>
                                        <div class="container">
                                            <input class="btn btn-default" type="submit" value="Send" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="container" style="padding-left:0px;">
                                            <a href="/accounts/request_account_retrieval">Forgot credentials.</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>

                {% endif %}

            {% endfor %}

        {% endif %}

        <br>

        <br><br>

    </div>

{% endblock %}