* {
	font-family: 'Verdana', Arial, Sans-Serif;
	box-sizing: border-box;
}

#hostpage {
    background: -moz-linear-gradient(90deg, #D5D5D5, #FFFFFF 60%) fixed;
    background: -webkit-gradient(linear, left center, left bottom, from(#FFFFFF), to(#D5D5D5)) fixed;
	font-size: 14px;
}


#hostpage input {
	white-space: normal;
	width: 102px;
	font-weight: bold;
	color: #FF7300;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}


#hostpage h1 {
	padding-top: 10px;
	width: 625px;
	font-weight: bold;
	text-align: center;
}

#hostpage p {
    width:625px;
    text-align: justify;
}

#hostpage table,
#hostpage tr,
#hostpage td {
    border: 0px;
}

#hostpage tr,
#hostpage td {
	padding: 1px;
	padding-left:10px;
	text-align: left;
}

#hostpage tr.row1:not(:first-child) {
    height: 10px;
    border-top:1px solid #eeeeee;
}

#hostpage tr.row4 {
    height:10px;
}

#header-top {
	background: #f45d00 none repeat scroll 0 0;
	padding: 5px 100px; 
}

#header-top a {
	color: white;
	font-size: 12px;
}

#header {
	background: #fff url("../images/decor-header.png") no-repeat scroll right top;
	height: 100px;
	text-align: center;
	width: 100%;
}

#header img {
	padding: 5px;
	margin-leftt: 50px;
}

.clear{
    clear: both;
}

#content {
	margin-left: 20px;
	margin-bottom: 50px;
}

#b2note_iframe {
    visibility: hidden;
	float: right;
	margin: 5px 5px 15px 5px;
	border: 2px solid gray;
	overflow: hidden;
	-moz-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	position: fixed;
	right: 5px;
}

#interface_main, #export {
	padding: 0;
	margin: 0;
	height: 100%;
    background: rgba(255,255,255,0.95);
}

#interface_main * {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#interface_main .navbar {
    margin: 0px;
}

#interface_main .btn-link,
#export .btn-link {
    padding: 2px;
    text-align: left;
}

#interface_main h3 {
    text-align: center;
    margin: 2px 2px 5px 2px;
    padding: 2px;
}

#section_subject {
	float: right;
	/*height: 120px;*/
	width: 100%;
	padding: 2px 2px 5px 2px;
	border-bottom: thin solid lightgrey;
}

#section_subject .table-responsive {
    border: none;
    margin: 0 auto;
    margin-bottom: 2px;
    float: none;
    padding: 0;
    /*word-wrap: break-word;*/
}

#section_subject .row {
    margin: 0;
    padding: 0;
}

#section_subject .table,
#section_subject .table td,
#section_subject .table tr {
    border: none;
    padding: 1px 2px 1px 1px;
    margin: 0;
    word-wrap: break-word;
    line-height: 1;
}

#section_subject .pid_link {
	font-size: 10px;
}

#section_create {
	float: right;
	/*height: 160px;*/
	width: 100%;
	padding: 5px 5px 0px 5px;
	border-bottom: thin solid lightgrey;
}

#section_create input {
	width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#section_create .form-group {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#section_create .tt-menu {
	width: 290px;
	margin-left: -20px;
}

#section_create .tt-menu * {
	font-size: 14px;
}

#section_existing {
	float: right;
	width: 100%;
	padding: 5px;
	text-align: center;
}


#container_table_existing {
    padding: 2px;
    height: 150px;
    overflow: auto;
}

#section_existing input {
    margin: 0px;
    padding: 3px 1px 0px 0px;
	width: 12px;
}

/*
	http://stackoverflow.com/questions/28222672/navigate-html-table-rows-with-javascript
	http://jsfiddle.net/vsgkjssq/5/
*/
#section_existing table {
	border: 1px solid black;
	width: 100%;
	max-height: 50px;
	margin-bottom: 10px;
}

#section_existing table,
#section_existing tr,
#section_existing td {
	border: 1px solid lightgray;
	padding: 2px 1px 1px 1px;
}

#section_existing table,
#section_existing td {
	border-collapse: collapse;
	border: solid 1px #ccc;
	text-align: center;
}

footer {
	height: 70px;
	background: transparent url("../images/decor-footer.png") no-repeat scroll right bottom;
	background-color: #dddddd;
	padding: 10px 40px;
}

#footer-content {
	display: table;
	margin: 0 auto;
	padding-top: 10px;
}

#footer-content img {
	float: left;
	margin-right: 10px;
	
}
#footer-content p {
	font-size: 10px;
	width: 100%;
}

#footer-content a {
	color: #e5601e;
}

#export * {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#export-top {
	width: 100%;
	height: 75px;
	background-color: #F8F8F8;
	border-bottom: thin solid lightgrey;
}

#export-top h1 {
	margin: 0;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	color: #777;
}

#export-top form {
	float: right;
	margin-right: 15px;
}

#export-top .btn-link {
	color: #777;
}

#export-top .btn-link:hover {
	color: #333;
}

#export-download {
	padding: 10px 10px 0px 10px;
}

#export-content {
	height: 300px;
	overflow: auto;
	padding: 10px;
}
