* {
	font-family: 'Verdana', Arial, Sans-Serif;
	box-sizing: border-box;
}

#hostpage {
    background: -moz-linear-gradient(90deg, #D5D5D5, #FFFFFF 60%) fixed;
    background: -webkit-gradient(linear, left center, left bottom, from(#FFFFFF), to(#D5D5D5)) fixed;
	font-size: 14px;
}


#hostpage input {
	white-space: normal;
	width: 102px;
	font-weight: bold;
	color: #FF7300;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}


#hostpage h1 {
	padding-top: 10px;
	width: 625px;
	font-weight: bold;
	text-align: center;
}

#hostpage p {
    width:625px;
    text-align: justify;
}

#hostpage table,
#hostpage tr,
#hostpage td {
    border: 0px;
}

#hostpage tr,
#hostpage td {
	padding: 1px;
	padding-left:10px;
	text-align: left;
}

#hostpage tr.row1:not(:first-child) {
    height: 10px;
    border-top:1px solid #eeeeee;
}

#hostpage tr.row4 {
    height:10px;
}

#header-top {
	background: #f45d00 none repeat scroll 0 0;
	padding: 5px 100px; 
}

#header-top a {
	color: white;
	font-size: 12px;
}

#header {
	background: #fff url("../images/decor-header.png") no-repeat scroll right top;
	height: 100px;
	text-align: center;
	width: 100%;
}

#header img {
	padding: 5px;
	margin-left: 5px;
}

.clear{
    clear: both;
}

#b2note_iframe {
	height: 500px !important;
    visibility: hidden;
	/* float: right; */
	margin: 5px 5px 15px 5px;
	border: 2px solid gray;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	position: fixed;
	right: 5px;
	overflow: scroll;
}

#consolepagebody {
    padding-top: 0px;
}

#consolepagebody header {
    height: 75px;
}

.navbar-brand {
    height: 45px;
    pqdding-top: 5px;
    padding-left: 10px;
}

#icon-nav-bar {
    padding-top: 0px;
    padding-bottom: 0px;
}

#main_container {
    padding: 10px;
}

#wayback .btn {
    padding: 2px;
}

#consolepagebody {
    height: 500px !important;
    overflow: scroll;
}

#registration-form .h3, h3 {
    padding: 0px;
    margin: 8px;
    margin-bottom: 10px;
}

#registration-form .img, img {
    margin-left: 15px;
    margin-top: 5px;
}

#disclaimer_paragraph {
    font-size: 11px;
    text-align: justify;
}

#registration_submit {
    margin-top: 10px;
}

#user_area {
    padding: 2px;
    border: 2px solid black;
}

#section_create {
    padding: 0px;
}

.nav-tabs > li > a {
    padding: 5px;
}

#create_tabs {
    font-size: 13px;
    float: left;
}

#homepage_tab_contents {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
}

#semantic_container {
    padding-top: 10px;
}

#semantic_submit {
    vertical-align: top;
}

#semantic_formgroup {
    margin-top: 30px;
    margin-bottom: 5px;
}

#keyword_container {
    padding-top: 10px;
}

#keyword_input {
    width: 70%;
    margin-right: 5px;
}

#keyword_formgroup {
    margin-top: 30px;
    margin-bottom: 5px;
}

#comment_input {
    width: 70%;
    margin-right: 5px;
    margin-bottom: 5px;
}

#comment_formgroup {
    margin-top: 40px;
    margin-bottom: 5px;
}

#comment_submit {
    padding-top: 17px;
    padding-bottom: 16px;
}

#myannot_table_main {
    width: 70%;
    margin-left: 30px;
}

#allannot_table_main {
    width: 70%;
    margin-left: 30px;
}

#comment_input_edit {
    width: 100%;
}

#id_q_edit {
    width: 150% !important;
}