<div class="navbar navbar-default navbar-static-top">

	<div class="container">

		<div class="navbar-brand">B2Note console</div>

	</div>

	<div id="icon-nav-bar" class="container" align="right">

		{% for link in navbarlinks %}

			<a href="{{link.url}}" title="{{link.title}}">
				<button type="submit" class="btn btn-link btn-xs">
					<i class="glyphicon glyphicon-{{link.icon}}"></i>
					{% if user_nickname and "profilepage" in link.url %} {{ user_nickname }} {% endif %}
				</button>
			</a>

		{% endfor %}

	</div>

</div>

<div class="container" id="wayback" align="left">

	{% for link in shortcutlinks %}

		{% if "Previous page" in link.title %}


			<!-- http://stackoverflow.com/questions/524992/django-templates-create-a-back-link -->
			<button type="submit" class="btn btn-link" onClick="javascript:history.go(-1);" title="{{link.title}}">
				<i class="glyphicon glyphicon-{{link.icon}}"></i>
			</button>

		{% else %}

			<a href="{{link.url}}" title="{{link.title}}">
				<button type="submit" class="btn btn-link">
					<i class="glyphicon glyphicon-{{link.icon}}"></i>
				</button>
			</a>

		{% endif %}

	{% endfor %}

</div>