<nav class="navbar navbar-default navbar-fixed-top">

	<div class="container">

		<div class="navbar-brand">B2Note console</div>

	</div>

	<div id="icon-nav-bar" class="container" align="right">

		{% for link in navbarlinks %}

			<a href="{{link.url}}" title="{{link.title}}">
				<button type="submit" class="btn btn-link btn-xs">
					<i class="glyphicon glyphicon-{{link.icon}}"></i>
					{% if user_nickname and "profilepage" in link.url %} {{ user_nickname }} {% endif %}
				</button>
			</a>

		{% endfor %}

	</div>

</nav>