{% extends "b2note_app/__base.html" %}

{% block content %}

	<div class="container" id="allannotations_summary">
		<h3>Annotations</h3>
		<div id="allannotations_summ">
            <table class="table table-condensed table-responsive" id="allannot_table_main">
                <tr>
                    <div class = "container">
                        <td><a href="#semantic">Semantic tag</a></td>
                        <td>
                            {% if all_s != None %}
								<a href="#semantic" title="All semantic annotations,&#13click for full list.">
                                	<span class="badge" >{{all_s}}</span>
								</a>
                            {% endif %}
                        </td>
						{% if my_s != None %}
							<td>
								{% if my_s == 0 %}
									<a href="#semantic" title="No semantic annotation was created by me.">
										<span class="badge bg-orange" >{{my_s}}</span>
									</a>
								{% else %}
									<a href="#semantic" title="My semantic annotations,&#13click for full list.">
										<span class="badge bg-orange" >{{my_s}}</span>
									</a>
								{% endif %}
							</td>
						{% endif %}
                    </div>
                </tr>
				<tr>
                    <div class = "container">
                        <td><a href="#keyword">Free-text keyword</a></td>
                        <td>
                            {% if all_k != None %}
								<a href="#keyword" title="All keyword annotations,&#13click for full list.">
                                	<span class="badge" >{{all_k}}</span>
								</a>
                            {% endif %}
                        </td>
						{% if my_k != None %}
							<td>
								{% if my_k == 0 %}
									<a href="#keyword" title="No free-text keyword annotation was created by me.">
										<span class="badge bg-orange" >{{my_k}}</span>
									</a>
								{% else %}
									<a href="#keyword" title="My keyword annotations,&#13click for full list.">
										<span class="badge bg-orange" >{{my_k}}</span>
									</a>
								{% endif %}
							</td>
						{% endif %}
                    </div>
                </tr>
				<tr>
                    <div class = "container">
                        <td><a href="#comment">Comment</a></td>
                        <td>
                            {% if all_c != None %}
								<a href="#comment" title="All comment annotations,&#13click for full list.">
                                	<span class="badge" >{{all_c}}</span>
								</a>
                            {% endif %}
                        </td>
						{% if my_c != None %}
							<td>
								{% if my_c == 0 %}
									<a href="#comment" title="No comment annotation was created by me.">
										<span class="badge bg-orange" >{{my_c}}</span>
									</a>
								{% else %}
									<a href="#comment" title="My comment annotations,&#13click for full list.">
										<span class="badge bg-orange" >{{my_c}}</span>
									</a>
								{% endif %}
							</td>
						{% endif %}
                    </div>
                </tr>
			</table>
		</div>

		<div class="container" id="semantic">
			<h4>Semantic tag <a href="#wayback" id="link_to_top">^top</a></h4>
			<!--
			None of these work:
			https://stackoverflow.com/questions/4147112/how-to-jump-to-top-of-browser-page
			https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
			<button onclick="$('html,body').scrollTop(0);" id="myBtn" title="Go to top">Top</button>
			<button onclick="$(window).scrollTop(0);" id="myBtn" title="Go to top">Top</button>
			<button onclick="scroll(0,0);" id="myBtn" title="Go to top">Top</button>
			<button onclick="window && window.scroll(0,0);" id="myBtn" title="Go to top">Top</button>
			<button onclick="window.scroll(0,0);" id="myBtn" title="Go to top">Top</button>
			<button onclick="window.scrollTo(0, 0);" id="myBtn" title="Go to top">Top</button>
			<button onclick="document.body.scrollTop = 0;" id="myBtn" title="Go to top">Top</button>
			<button onclick="document.documentElement.scrollTop = 0;" id="myBtn" title="Go to top">Top</button>
			-->
			{% if semantic_table %}
				<table class="table table-condensed table-responsive table-striped" >
					<tr class="table_header_grey">
						<th>Label</th><th colspan="2">Nb Files</th><th colspan="2">Actions</th>
					</tr>
					{% for ann in semantic_table %}
						<tr>
							<form action="/annotation_summary" method="post">
								{% csrf_token %}
								<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
								<td style="width:100%;border-right: 0.1px solid #E1E1E1 !important;">
									<input type="submit" class="btn btn-link" name="about_allsimilar_any" value="{{ann.link_label}}"
										   title="{% if ann.link_info_label %}{{ann.link_info_label}}{% endif %}
{% if ann.link_info_ontologyacronym %}{{ann.link_info_ontologyacronym}}{% endif %}: {% if ann.link_info_shortform %}{{ann.link_info_shortform}}{% endif %}
{% if ann.link_info_creatornickname %}By: {{ann.link_info_creatornickname}}{% endif %}
{% if ann.link_info_modified %}On: {{ann.link_info_modified}}{% endif %}
Click for full info." style="font-size:12px;padding:2px;margin-right:10px;"/>
								</td>
								<td style="border-right: 0.1px solid #E1E1E1 !important;padding-left:2px;padding-right:2px;">
									{% if ann.all_similar == 0 %}
										<span title="No similar annotation was created by others." style="padding:2px;margin-right:4px;"> </span>
									{% else %}
										<button class="btn btn-link" name="about_allsimilar" type="submit" title="In other annotations,&#13click for full list." style="padding:2px">
											<span class="badge" id="all_sem_{{ forloop.counter0 }}">{{ann.all_similar}}</span>
										</button>
										<!--<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.all_similar}}"
											   title="In any annotations,&#13click for full list." style="padding:2px;margin-right:4px;"/>-->
									{% endif %}
								</td>
								<td style="border-right: 0.1px solid #E1E1E1 !important;padding-left:2px;padding-right:2px;">
									{% if ann.my_similar == 0 %}
										<span title="No similar annotation was created by me." style="padding:2px;margin-right:4px;"> </span>
									{% else %}
										<button class="btn btn-link" name="about_mysimilar" type="submit" title="In my annotations,&#13click for full list." style="padding:2px;">
											<span class="badge" id="my_sem_{{ forloop.counter0 }}">{{ann.my_similar}}</span>
										</button>
										<!--<input type="submit" class="btn btn-link" name="about_mysimilar" value="{{ann.my_similar}}"
										   title="In my annotations,&#13click for full list." style="padding:2px;margin-right:4px;"/>-->
									{% endif %}
								</td>
							</form>
							<td style="padding-left:6px;">
								<form action="/edit_annotation" method="post" style="padding:0px;">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<button type="submit" class="btn btn-link" {% if ann.link_info_creatornickname != user_nickname %}title="Edit is not possible,&#13This annotation was not crated by me." disabled style="color:grey;opacity:0.5;padding: 2px;" {% else %} title="Edit this annotation" style="padding: 2px;"{% endif %} >
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</form>
							</td>
							<td>
								<form action="/delete_annotation" method="post">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<button type="submit" class="btn btn-link" {% if ann.link_info_creatornickname != user_nickname %}title="Delete is not possible,&#13This annotation was not crated by me." disabled style="color:grey;opacity:0.5;padding: 2px;" {% else %} title="Delete this annotation" style="padding: 2px;"{% endif %}>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No semantic tag annotation exists about this file.</p>
			{% endif %}
		</div>

		<div class="container" id="keyword">
			<h4>Free-text keyword <a href="#wayback" id="link_to_top">^top</a></h4>
			{% if keyword_table %}
				<table class="table table-condensed table-responsive table-striped" >
					<th>Label</th><th colspan="2">N Files</th><th colspan="2">Actions</th>
					{% for ann in keyword_table %}
						<tr>
							<form action="/annotation_summary" method="post">
								{% csrf_token %}
								<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
								<td style="border-right: 0.1px solid #E1E1E1 !important;width:100%;">
									<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.link_label}}"
										   title="{% if ann.link_info_label %}{{ann.link_info_label}}{% endif %}
{% if ann.link_info_creatornickname %}By: {{ann.link_info_creatornickname}}{% endif %}
{% if ann.link_info_modified %}On: {{ann.link_info_modified}}{% endif %}
Click for full info." style="font-size:12px;padding:2px;margin-right:10px;"/>
								</td>
								<td style="border-right: 0.1px solid #E1E1E1 !important;padding-left:2px;padding-right:2px;">
									{% if ann.all_similar == 0 %}
										<span title="No similar annotation was created by others." style="padding:2px;margin-right:4px;"> </span>
									{% else %}
										<button class="btn btn-link" name="about_allsimilar" type="submit" title="In other annotations,&#13click for full list." style="padding:2px">
											<span class="badge" id="all_key_{{ forloop.counter0 }}">{{ann.all_similar}}</span>
										</button>
										<!--<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.all_similar}}"
											   title="In any annotations,&#13click for full list." style="padding:2px;margin-right:4px;"/>-->
									{% endif %}
								</td>
								<td style="border-right: 0.1px solid #E1E1E1 !important;padding-left:2px;padding-right:2px;">
									{% if ann.my_similar == 0 %}
										<span title="No similar annotation was created by me." style="padding:2px;margin-right:4px;"> </span>
									{% else %}
										<button class="btn btn-link" name="about_mysimilar" type="submit" title="In my annotations,&#13click for full list." style="padding:2px">
											<span class="badge" id="my_key_{{ forloop.counter0 }}">{{ann.my_similar}}</span>
										</button>
										<!--<input type="submit" class="btn btn-link" name="about_mysimilar" value="{{ann.my_similar}}"
											   title="In my annotations,&#13click for full list." style="padding:2px;margin-right:4px;"/>-->
									{% endif %}
								</td>
							</form>
							<td style="padding-left:6px;">
								<form action="/edit_annotation" method="post" style="padding:0px;">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<button type="submit" class="btn btn-link" {% if ann.link_info_creatornickname != user_nickname %}title="Edit is not possible,&#13This annotation was not crated by me." disabled style="color:grey;opacity:0.5;padding: 2px;" {% else %} title="Edit this annotation" style="padding: 2px;"{% endif %}>
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</form>
							</td>

							<td style="padding-left:4px;">
								<form action="/delete_annotation" method="post">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<button type="submit" class="btn btn-link" {% if ann.link_info_creatornickname != user_nickname %}title="Delete is not possible,&#13This annotation was not crated by me." disabled style="color:grey;opacity:0.5;padding: 2px;" {% else %} title="Delete this annotation" style="padding: 2px;"{% endif %}>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No free-text keyword annotation exists about this file.</p>
			{% endif %}
		</div>

		<div class="container" id="comment">
			<h4>Comment <a href="#wayback" id="link_to_top">^top</a></span></h4>
			{% if comment_table %}
				<table class="table table-condensed table-responsive table-striped" >
					<th>Label</th><th colspan="2">Actions</th>
					{% for ann in comment_table %}
						<tr>
							<td style="border-right: 0.1px solid #E1E1E1 !important;width:100%;">
								<form action="/annotation_summary" method="post">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.link_label}}"
										   title="{% if ann.link_info_label %}{{ann.link_info_label}}{% endif %}
{% if ann.link_info_creatornickname %}By: {{ann.link_info_creatornickname}}{% endif %}
{% if ann.link_info_modified %}On: {{ann.link_info_modified}}{% endif %}
Click for full info." style="font-size:12px;padding:2px;margin-right:10px;"/>
								</form>
							</td>
							<td style="padding-left:6px;">
								<form action="/edit_annotation" method="post" style="padding:0px;">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<button type="submit" class="btn btn-link" {% if ann.link_info_creatornickname != user_nickname %}title="Edit is not possible,&#13This annotation was not crated by me." disabled style="color:grey;opacity:0.5;padding: 2px;" {% else %} title="Edit this annotation" style="padding: 2px;"{% endif %}>
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</form>
							</td>

							<td style="padding-left:4px;">
								<form action="/delete_annotation" method="post">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<button type="submit" class="btn btn-link" {% if ann.link_info_creatornickname != user_nickname %}title="Delete is not possible,&#13This annotation was not crated by me." disabled style="color:grey;opacity:0.5;padding: 2px;" {% else %} title="Delete this annotation" style="padding: 2px;"{% endif %}>
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No comment annotation exists about this file.</p>
			{% endif %}
		</div>
	</div>

{% endblock %}

<!--
	<div class="container" id="section_existing">

		<div class="container" id="container_table_existing">

			<table class="table table-responsive table-striped">

				{% for annotation in annotation_list %}

					{% for target in annotation.target %}

						{% if target.jsonld_id %}

							<!-- http://stackoverflow.com/questions/1275735/how-to-access-dictionary-element-in-django-template -->
<!--							{% if target.jsonld_id == subject_tofeed %}

								{% for body in annotation.body %}

									{% if body.jsonld_id or body.value %}

										<tr>

										{% if "http://" in body.jsonld_id %}

											<!--
											<td id="predicateLabel"><a target="_blank" href={{annotation.triple.predicate.iri}}>{{annotation.triple.predicate.label}}</a></td>
											-->
											<!-- http://stackoverflow.com/questions/15712880/load-iframe-links-into-parent-window -->
<!--											<td id="objectLabel" title="Created by {{annotation.creator.0.nickname}}&#13;On {{annotation.created}}">
												<a target="_blank" href={{body.jsonld_id}}>{{body.value}}</a>
											</td>

										{% else %}

											<!--
											<td id="predicateLabel">{{annotation.triple.predicate.label}}</td>
											-->
<!--											<td id="objectLabel" title="Created by {{annotation.creator.0.nickname}}&#13;On {{annotation.created}}">{{body.value}}</td>

										{% endif %}

											<form action="/edit_annotation" method="post" target="_blank">

												{% csrf_token %}

												<input type="hidden" name="db_id" value="{{annotation.id}}" readonly="readonly" />
												<!--<input type="hidden" name="pagefrom" value="homepage" readonly="readonly" />-->

<!--												<td id="editAnnotation"><i class="glyphicon glyphicon-pencil"></i></td>

											</form>

										{% if user_nickname = annotation.creator.0.nickname %}

											<form action="/delete_annotation" method="post">

												{% csrf_token %}

												<input type="hidden" name="db_id" value="{{annotation.id}}" readonly="readonly" />
												<input type="hidden" name="subject_tofeed" value="{{subject_tofeed}}" readonly="readonly" />
												<input type="hidden" name="pid_tofeed" value="{{pid_tofeed}}" readonly="readonly" />

												<td id="delAnnotation"><i class="glyphicon glyphicon-trash"></td>

											</form>

										{% else %}

											<!-- Empty slot for bin icon for annotations of which logged-in user is not owner. -->
<!--											<td></td>

										{% endif %}

										</tr>

									{% endif %}

								{% endfor %}

							{% endif %}

						{% endif %}

					{% endfor %}

				{% endfor %}

			</table>

		</div>

	</div>-->
