{% extends "b2note_app/__base.html" %}

{% block content %}

	<div class="container" id="delete_confirm_form">

		<h3>Delete</h3>

		<br>

		<p>Please confirm delete:</p>

		<div class="container pull-center">
			<form action="/delete_annotation" method="post">
				{% csrf_token %}
				<table>
					<tr>
						<td>
							<input type="hidden" name="db_id" value="{{id}}" hidden>
							<input type="submit" class="btn btn-danger" name="delete_confirmed" value="DELETE" style="margin:5px;"/>
						</td>
						<td>
							<a href="/interface_main" class="btn btn-default" style="margin:5px;">Cancel</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<br>
	<br>
	<br>

{% endblock %}