{% extends "b2note_app/__base.html" %}

{% block content %}

    <h3>Edit</h3>

    <div class="container" id="edit_msg_area">

        {% if edited_semantic %}

            {% if edited_semantic == True %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The semantic annotation was modified.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:25px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if ann %}
                                        {% if ann.body.0.value or shortform %}
                                            {{ann.body.0.value}} ({{shortform}})
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% elif edited_semantic == False %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The semantic annotation could not be modified.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:25px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if ann %}
                                        {% if ann.body.0.value or shortform %}
                                            {{ann.body.0.value}} ({{shortform}})
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}

        {% elif duplicate != None %}
            <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                <table class="table table-condensed">
                    <tr>
                        <td class="col-xs-9">Not modified, an identical annotation already exists.</td>
                        <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="margin-top:25px;font-size:12px;">
                            <div class="container col-xs-12">
                                {% if duplicate.shortform %}
                                    {{duplicate.label}} ({{duplicate.shortform}})
                                {% else %}
                                    {{duplicate.label}}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        {% elif has_semantic_equivalent %}
            <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                <table class="table table-condensed">
                    <tr><td colspan="3">We detected <strong>semantic terms</strong> matching your keyword.</td></tr>
                    <tr><td colspan="3">Would you like to select one?</td></tr>
                    <tr><td colspan="3" style="margin-bottom:25px;">Or carry on with free-text?</td></tr>
                    <tr>
                        <td>
                            <form action="/edit_annotation" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                                <input type="text" name="textinput_primer" value="{{has_semantic_equivalent}}" hidden>
                                <input type="submit" class="btn btn-default" name="semantic_submit" id="primed_semantic_submit" value="Semantic" title="Change for a semantic tag."/>
                            </form>
                        </td>
                        <td>
                            <form action="/edit_annotation" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                                <input type="text" name="confirm_flag" value="confirmed" hidden>
                                <input type="text" name="keyword_text" value="{{has_semantic_equivalent}}" hidden>
                                <input type="submit" class="btn btn-default" name="keyword_submit" id="confirmed_keyword_submit" value="Keyword" title="Change the free-text keyword."/>
                            </form>
                        </td>
                        <td><a href="/interface_main" class="btn btn-default">Cancel</a></td>
                    </tr>
                </table>
            </div>

        {% elif long_keyword %}
            <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                <table class="table table-condensed">
                    <tr><td colspan="3">This text seems <strong>long</strong> for a keyword (>60 characters).</td></tr>
                    <tr><td colspan="3" style="margin-bottom:25px;">Do you want to use it as ... ?</td></tr>
                    <tr>
                        <td>
                            <form action="/edit_annotation" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                                <input type="text" name="enforce_flag" value="confirmed" hidden>
                                <input type="text" name="confirm_flag" value="confirmed" hidden>
                                <input type="text" name="keyword_text" value="{{long_keyword}}" hidden>
                                <input type="submit" class="btn btn-default" name="keyword_submit" id="enforced_keyword_submit" value="Keyword" title="Change the free-text keyword."/>
                            </form>
                        </td>
                        <td>
                            <form action="/edit_annotation" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                                <input type="text" name="comment_text" value="{{long_keyword}}" hidden>
                                <input type="submit" class="btn btn-default" name="comment_submit" id="primed_comment_submit" value="Comment" title="Change to a comment annotation."/>
                            </form>
                        </td>
                        <td><a href="/interface_main" class="btn btn-default">Cancel</a></td>
                    </tr>
                </table>
            </div>

        {% elif edited_keyword %}

            {% if edited_keyword == True %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The keyword annotation was modified.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:25px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if ann %}
                                        {% if ann.body.0.value %}
                                            {{ann.body.0.value}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            {% elif edited_keyword == False %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The keyword annotation could not be modified.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:25px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if ann %}
                                        {% if ann.body.0.value %}
                                            {{ann.body.0.value}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}

        {% elif edited_comment %}

            {% if edited_comment == True %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The comment annotation was modified.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:25px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if ann %}
                                        {% if ann.body.0.value %}
                                            {{ann.body.0.value}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            {% elif edited_comment == False %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The comment annotation could not be modified.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:25px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if ann %}
                                        {% if ann.body.0.value %}
                                            {{ann.body.0.value}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}

        {% elif ann %}

            {% if ann.body.0.jsonld_id or textinput_primer %}

                <div class="container" id="edit_semantic">
                    <p><strong>Type-in</strong> to select an other tag.</p>
                    <form action="edit_annotation" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                        <input type="hidden" name="ontology_json" id="ontology_json">
                        {% if textinput_primer %}
                            <input type="text" class="form-control" style="width:100%;" name="q" id="id_q_edit" value="{% if query %}{{ query }}{% else %}{{textinput_primer}}{% endif %}" autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                        {% else %}
                            <input type="text" class="form-control" style="width:100%;" name="q" id="id_q_edit" value="{% if query %}{{ query }}{% else %}{{ann.body.0.value}}{% endif %}" autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                        {% endif %}
                        <div class="container pull-right" style="margin-right:0px;padding-right:0px;">
                            <table>
                                <tr>
                                    <td>
                                        <input type="submit" class="btn btn-default" style="margin:5px;" name="semantic_submit" id="semantic_submit" value="Save" title="Change the semantic tag."/>
                                    </td>
                                    <td>
                                        <a href="/interface_main" class="btn btn-default" style="margin:5px;">Cancel</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

            {% elif ann.motivation and ann.motivation.0 = "tagging" %}

                <div class="container" id="edit_keyword">
                    <form action="/edit_annotation" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                        <table class="table table-condensed">
                            <tr>
                                <td colspan="2"><strong>Type-in</strong> to change the keyword.</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                {% if ann.body.0.value|length > 50 %}
                                    <textarea name="keyword_text" rows="6" class="form-control custom-control" id="keyword_input">{{ann.body.0.value}}</textarea>
                                {% else %}
                                        <input type="text" name="keyword_text" value="{{ann.body.0.value}}" class="form-control custom-control" id="keyword_input" />
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="pull-right">
                                    <input type="submit" class="btn btn-default" name="keyword_submit" id="keyword_submit" value="Save" title="Change the free-text keyword." style="margin:5px;"/>
                                    <a href="/interface_main" class="btn btn-default" style="margin:5px;">Cancel</a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

            {% elif ann.motivation and ann.motivation.0 = "commenting" %}

                <div class="container" id="edit_comment">
                    <p><strong>Type-in</strong> to change the comment.</p>
                    <form action="/edit_annotation" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                        <textarea name="comment_text" rows="6" class="form-control custom-control" id="comment_input_edit">{{ann.body.0.value}}</textarea>
                        <div class="container pull-right" style="margin-right:0px;padding-right:0px;">
                            <table>
                                <tr>
                                    <td>
                                        <input type="submit" class="btn btn-default" style="margin:5px;" name="comment_submit" id="comment_submit_edit" value="Save" title="Change the comment."/>
                                    </td>
                                    <td>
                                        <a href="/interface_main" class="btn btn-default" style="margin:5px;">Cancel</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>

                </div>

            {% endif %}

        {% endif %}

    </div>

{% endblock %}
