{% extends "b2note_app/__base.html" %}

{% block content %}

    <h3>Edit</h3>

    {% if edited_semantic %}

        {% if edited_semantic == True %}

            <p>The semantic annotation was modified. <a href="/interface_main" class="btn btn-default">OK</a></p>

            <br>

            {% if ann %}

                {% if ann.body.0.value or shortform %}

                    <textarea rows="3" readonly>{{ann.body.0.value}} ({{shortform}})</textarea>

                {% endif %}

            {% endif %}

        {% elif edited_semantic == False %}

            <p>The semantic annotation could not be modified. <a href="/interface_main" class="btn btn-default">OK</a></p>

            <br>

            {% if ann %}

                {% if ann.body.0.value or shortform %}

                    <textarea rows="3" readonly>{{ann.body.0.value}} ({{shortform}})</textarea>

                {% endif %}

            {% endif %}

        {% endif %}

    {% elif duplicate != None %}

        <p>Not modified, an identical annotation already exists. <a href="/interface_main" class="btn btn-default">OK</a></p>

        <br>

        {% if duplicate.shortform %}

            <textarea rows="3" readonly>{{duplicate.label}} ({{duplicate.shortform}})</textarea>

        {% else %}

            <textarea rows="3" readonly>{{duplicate.label}}</textarea>

        {% endif %}

    {% elif has_semantic_equivalent %}

        <p>We detected semantic terms matching your keyword.</p>

        <p>Would you like to select one?</p>

        <p>Or carry on with free-text?</p>

        <form action="/edit_annotation" method="post">
            {% csrf_token %}
            <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
            <input type="text" name="textinput_primer" value="{{has_semantic_equivalent}}" hidden>
            <input type="submit" class="btn btn-default" name="semantic_submit" id="primed_semantic_submit" value="Semantic" title="Change for a semantic tag."/>
        </form>

        <form action="/edit_annotation" method="post">
            {% csrf_token %}
            <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
            <input type="text" name="confirm_flag" value="confirmed" hidden>
            <input type="text" name="keyword_text" value="{{has_semantic_equivalent}}" hidden>
            <input type="submit" class="btn btn-default" name="keyword_submit" id="confirmed_keyword_submit" value="Keyword" title="Change the free-text keyword."/>
        </form>

        <a href="/interface_main" class="btn btn-default">Cancel</a>

    {% elif long_keyword %}

        <p>This text seems long for a keyword (>60 characters).</p>

        <p>Do you want to use it as ... ?</p>

        <form action="/edit_annotation" method="post">
            {% csrf_token %}
            <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
            <input type="text" name="enforce_flag" value="confirmed" hidden>
            <input type="text" name="confirm_flag" value="confirmed" hidden>
            <input type="text" name="keyword_text" value="{{long_keyword}}" hidden>
            <input type="submit" class="btn btn-default" name="keyword_submit" id="enforced_keyword_submit" value="Keyword" title="Change the free-text keyword."/>
        </form>

        <form action="/edit_annotation" method="post">
            {% csrf_token %}
            <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
            <input type="text" name="comment_text" value="{{long_keyword}}" hidden>
            <input type="submit" class="btn btn-default" name="comment_submit" id="primed_comment_submit" value="Comment" title="Change to a comment annotation."/>
        </form>

        <a href="/interface_main" class="btn btn-default">Cancel</a>

    {% elif edited_keyword %}

        {% if edited_keyword == True %}

            <p>The keyword annotation was modified. <a href="/interface_main" class="btn btn-default">OK</a></p>

            <br>

            {% if ann %}

                {% if ann.body.0.value %}

                    <textarea rows="3" readonly>{{ann.body.0.value}}</textarea>

                {% endif %}

            {% endif %}

        {% elif edited_keyword == False %}

            <p>The keyword annotation could not be modified. <a href="/interface_main" class="btn btn-default">OK</a></p>

            <br>

            {% if ann %}

                {% if ann.body.0.value %}

                    <textarea rows="3" readonly>{{ann.body.0.value}}</textarea>

                {% endif %}

            {% endif %}

        {% endif %}

    {% elif edited_comment %}

        {% if edited_comment == True %}

            <p>The comment annotation was modified. <a href="/interface_main" class="btn btn-default">OK</a></p>

            <br>

            {% if ann %}

                {% if ann.body.0.value %}

                    <textarea rows="6" readonly>{{ann.body.0.value}}</textarea>

                {% endif %}

            {% endif %}

        {% elif edited_comment == False %}

            <p>The comment annotation could not be modified. <a href="/interface_main" class="btn btn-default">OK</a></p>

            <br>

            {% if ann %}

                {% if ann.body.0.value %}

                    <textarea rows="6" readonly>{{ann.body.0.value}}</textarea>

                {% endif %}

            {% endif %}

        {% endif %}

    {% elif ann %}

        {% if ann.body.0.jsonld_id or textinput_primer %}

            <div id="semantic">
                <p><strong>Type-in</strong> to select an other tag.</p>
                <form action="edit_annotation" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                    <input type="hidden" name="ontology_json" id="ontology_json">
                    {% if textinput_primer %}
                        <input type="text" class="form-control" name="q" id="id_q" value="{% if query %}{{ query }}{% else %}{{textinput_primer}}{% endif %}" autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                    {% else %}
                        <input type="text" class="form-control" name="q" id="id_q" value="{% if query %}{{ query }}{% else %}{{ann.body.0.value}}{% endif %}" autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                    {% endif %}
                    <input type="submit" name="semantic_submit" id="semantic_submit" value="Save" title="Change the semantic tag."/>
                </form>
                <a href="/interface_main" class="btn btn-default">Cancel</a>
            </div>

        {% elif ann.motivation and ann.motivation.0 = "tagging" %}

            <div id="keyword">
                <p><strong>Type-in</strong> to change the keyword.</p>
                <form action="/edit_annotation" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                    <input type="text" name="keyword_text" value="{{ann.body.0.value}}" class="form-control custom-control" id="keyword_input" />
                    <input type="submit" name="keyword_submit" id="keyword_submit" value="Save" title="Change the free-text keyword."/>
                </form>
                <a href="/interface_main" class="btn btn-default">Cancel</a>
            </div>

        {% elif ann.motivation and ann.motivation.0 = "commenting" %}

            <div id="comment">
                <p><strong>Type-in</strong> to change the comment.</p>
                <form action="/edit_annotation" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="db_id" value="{{ann.id}}" hidden>
                    <textarea name="comment_text" rows="6" class="form-control custom-control" id="comment_input">{{ann.body.0.value}}</textarea>
                    <input type="submit" name="comment_submit" id="comment_submit" value="Save" title="Change the comment."/>
                </form>
                <a href="/interface_main" class="btn btn-default">Cancel</a>
            </div>

        {% endif %}

    {% endif %}

    <br>
    <br>
    <br>

{% endblock %}
