{% extends "b2note_app/__base.html" %}

{% block content %}

	<h3>Export</h3>

	{% if not annotations_json or annotations_json == "null" %}

		<p>Download annotations about the file:</p>

		<form action="/export_annotations" method="post">
			{% csrf_token %}
			<input type="submit" class="btn btn-default" name="user_annotations" value="My annotations" title="Only the annotations that I created."/>
			<input type="submit" class="btn btn-default" name="all_annotations" value="All annotations" title="All the annotations about the file.">
		</form>

	{% else %}

		{% if annotations_of %}

			{% if annotations_of == "mine" %}

				<p><strong>My annotations</strong> about the file.</p>

			{% elif annotations_of == "all" %}

				<p><strong>All</strong> annotations about the file.</p>

			{% elif annotations_of == "search_results" %}

				<p>Selected files information.</p>

			{% endif %}

		{% endif %}

		<div class="container" id="export-download" align="right">

			{% if annotations_of == "search_results" %}

				<a href="{% url 'b2note_app.views.download_json' %}" class="btn btn-default">Download JSON</a>

			{% else %}

				<a href="{% url 'b2note_app.views.download_json' %}" class="btn btn-default">Download JSON-LD</a>

			{% endif %}

		</div>

		<div class="container" id="export-content">

			{% if annotations_json %}

				<pre id="ann_json">{{annotations_json|safe}}</pre>

			{% endif %}

		</div>

	{% endif %}

	<br>
	<br>
	<br>

{% endblock %}