{% extends "b2note_app/__base.html" %}

{% block content %}

	<h3>Export</h3>

	<br>

	{% if not annotations_json or annotations_json == "null" %}

		<p>Download annotations about the file:</p>

		<div class="container pull-center">
			<form action="/export_annotations" method="post">
				{% csrf_token %}
				<input type="submit" class="btn btn-default" name="user_annotations" value="My annotations" title="Only the annotations that I created." />
				<input type="submit" class="btn btn-default" name="all_annotations" value="All annotations" title="All the annotations about the file." />
			</form>
		</div>

	{% else %}

		<div class="container" id="export-download">

			{% if annotations_of %}

				{% if annotations_of == "mine" %}

					<div class="container col-xs-5">
						<p style="margin-left:0px;font-size:12px;"><strong>My</strong> annotations about the file.</p>
					</div>

				{% elif annotations_of == "all" %}

					<div class="container col-xs-5">
						<p style="margin-left:0px;font-size:12px;"><strong>All</strong> annotations about the file.</p>
					</div>

				{% elif annotations_of == "search_results" %}

					<div class="container col-xs-5">
						<p style="margin-left:0px;font-size:12px;">Selected files information.</p>
					</div>

				{% endif %}

			{% endif %}

			{% if annotations_of == "search_results" %}

				<div class="container col-xs-2">
					<a href="{% url 'b2note_app.views.download_json' %}" class="btn btn-default">Download JSON</a>
				</div>

			{% else %}

				<div class="container col-xs-2">
					<a href="{% url 'b2note_app.views.download_json' %}" class="btn btn-default">Download JSON-LD</a>
				</div>

			{% endif %}

		</div>

		<div class="container" id="export-content">

			{% if annotations_json %}

				<pre id="ann_json" style="font-size:9px;">{{annotations_json|safe}}</pre>

			{% endif %}

		</div>

	{% endif %}

	<br>
	<br>
	<br>

{% endblock %}