{% extends "b2note_app/__base.html" %}

{% block content %}

	<h3>Export</h3>

	{% if not annotations_json or annotations_json == "null" %}

		<div class="container pull-center" style="margin-top:20px;">

			<p>Download annotations about the file:</p>

			<form action="/export_annotations" method="post">
				{% csrf_token %}
				<input type="submit" class="btn btn-default" name="user_annotations" value="My annotations" title="Only the annotations that I created." />
				<input type="submit" class="btn btn-default" name="all_annotations" value="All annotations" title="All the annotations about the file." />
			</form>
		</div>

	{% else %}

		<div class="container col-xs-12 col-md-12" id="export-download" style="margin-top:20px;">

			{% if annotations_of %}

				<div class="container col-xs-7 col-md-7 pull-left" style="margin-left:0px;font-size:12px;">

					{% if annotations_of == "mine" %}

						<strong>My</strong> annotations about the file.

					{% elif annotations_of == "all" %}

						<strong>All</strong> annotations about the file.

					{% elif annotations_of == "search_results" %}

						<strong>Selected files</strong> information.

					{% endif %}

				</div>

			{% endif %}

			<div class="container col-xs-5 col-md-5" style="white-space:normal;margin-bottom:10px;margin-right:0px;padding-right:0px;">

				{% if annotations_of == "search_results" %}

					<a href="{% url 'b2note_app.views.download_json' %}" class="btn btn-default" style="white-space:normal !important;">Download JSON</a>

				{% else %}

					<a href="{% url 'b2note_app.views.download_json' %}" class="btn btn-default" style="white-space:normal !important;">Download JSON-LD</a>

				{% endif %}

			</div>

		</div>

		<div class="container" id="export-content">

			{% if annotations_json %}

				<pre id="ann_json" style="font-size:9px;padding: 1px;height: 270px;">{{annotations_json|safe}}</pre>

			{% endif %}

		</div>

	{% endif %}

	<br>
	<br>
	<br>

{% endblock %}