<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="UTF-8">

		{% load staticfiles %}

		<link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
		<link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

		<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'js/utils.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<title>B2Note service prototype</title>

	</head>

	<body id="helppage">

		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-brand">B2Note console</div>

			</div>

			<div class="container" align="right">

				{% if user_nickname %}

				<a href="/interface_main" title="Account">
					<button type="submit" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-user"></i>
						{{ user_nickname }}
					</button>
				</a>

				<a href="/search" title="Search">
					<button type="submit" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</a>

				<a href="/export" title="Download">
					<button type="submit" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-download"></i>
					</button>
				</a>

				<a href="/accounts/logout" title="Logout">
					<button type="submit" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-off"></i>
					</button>
				</a>

				{% else %}

				<a href="/accounts/login" title="Login">
					<button type="submit" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-download"></i>
					</button>
				</a>

				<a href="/accounts/register" alt="Registration" title="Register">
					<button type="submit" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-user"></i>
					</button>
				</a>

				{% endif %}

			</div>

		</div>

		<div class="container" id="wayback">

			{% if user %}

			<a href="/interface_main" alt="Login" title="Login">
				<button type="submit" class="btn btn-link">
					<i class="glyphicon glyphicon-home"></i>
				</button>
			</a>

			{% else %}

			<a href="/accounts/login" alt="Login" title="Login">
				<button type="submit" class="btn btn-link">
					<i class="glyphicon glyphicon-home"></i>
				</button>
			</a>

			{% endif %}

		</div>

		<div class="container" id="help-content">

			<h3>Help</h3>

			<div class="container" id="registration">

				<h4>Registration</h4>

				<p>Registration page is designed for users to register to B2Note service.</p>

			</div>

		</div>

	</body>

</html>