<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	{% load staticfiles %}

    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

	<title>B2Note service demo</title>

</head>

<body id="profilepage">

	<header>

		<div id="header-top">

			<a href="http://www.eudat.eu" target="_blank">GO TO EUDAT WEBSITE</a>

		</div>

		<div class = "container" id="header">

            <section class="row">

                <div class="col-xs-8 col-sm-4 col-md-2">

                    <img alt="EUDAT" title="EUDAT" src="{% static 'images/EUDAT-logo_3.png' %}" />

                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">

    			    <img alt="B2NOTE" title="B2NOTE" src="{% static 'images/B2NOTE-logo.png' %}" />

                </div>

                <div class="clear"> </div>

            </section>

		</div>

        <div class="clear"> </div>

	</header>

	<div class = "container">

		<!-- http://stackoverflow.com/questions/12102464/how-do-i-make-iframes-load-only-on-a-button-click -->
		<iframe id="b2note_iframe" name="b2note_iframe" src="interface_main"
			width="0" onload="load_iframe()"
			scrolling="no"></iframe>

	</div>

	<div class="container" id="profilepage_title">

		<div class="row">

			<div class="col-sm-8">

				<h2>{{ userprofile.nickname }}'s homepage</h2>

			</div>

		</div>

		<div class="row">

			<div class="col-sm-2">

				<a href="accounts/profilepage">Profile page</a>

			</div>

			<div class="col-sm-4 col-sm-offset-2">

				<a href="accounts/logout"><p class="text-right">Logout</p></a>

			</div>

		</div>

	</div>

	<br>

	<div class="container" id="homepageform">

		<div class="row">

			<div class="container" id="annotations_table">

				<div class="col-sm-8">

					<h3>{{ userprofile.nickname }}'s annotations (by target file)</h3>

					{% for f in file_list %}

						<table class="table table-responsive table-striped">

						<tr>

							<td title="{{ f }}" colspan="3"><img src="{% static "images/Link_icon.svg" %}" height="24px" alt="File IRI"/><a href="{{f}}">{{ f }}</a></td>

							<td>

								<form action="/interface_main" method="post" target="b2note_iframe">

									{% csrf_token %}

									<input type="hidden" name="subject_tofeed" value="{{ f }}" class="field left" readonly="readonly" />
    	                            <input type="hidden" name="pid_tofeed" value="unknown pid" class="field left" readonly="readonly" />

									<input type="image" src="{% static "images/green_plus_sign.svg" %}" height="30px" alt="Add" title="Add annotation"/>

								</form>

							</td>

						</tr>

						{% for ann in annotation_list %}

							{% if ann.target.0.jsonld_id %}

								{% if ann.target.0.jsonld_id = f %}

									{% if ann.body.0.value %}

										{% if ann.body.0.value|length > 0 %}

										<tr>

											<td></td>

											{% if ann.body.0.jsonld_id %}

												{% if ann.body.0.jsonld_id|length > 0 and "http://" in ann.body.0.jsonld_id %}

												<td><a target="_blank" href={{ann.body.0.jsonld_id}}>{{ann.body.0.value}}</a></td>

												{% else %}

												<td>{{ann.body.0.value}}</td>

												{% endif %}

											{% else %}

											<td>{{ann.body.0.value}}</td>

											{% endif %}

											<td title="Created: {{ ann.created|date:"d/m/Y" }} {{ ann.created|time:"H:i" }}">
												<p class="text-right"><small> {{ ann.created|date:"d/m/Y" }} </small></p>
											</td>

											<td id="delAnnotation"><input type="image" id="trash-icon" src="{% static "images/Octicons-trashcan.svg" %}" height="16px" title="Delete annotation" alt="Delete annotation" /></td>

										</tr>

										{% endif %}

									{% endif %}

								{% endif %}

							{% endif %}

						{% endfor %}

						</table>

					{% endfor %}

				</div>

			</div>

		</div>

	</div>

	<footer>
		<div id="footer-content">
			<img alt="CE logo" title="CE logo" src="{% static 'images/logo_ce.jpg' %}" />
			<p>
				EUDAT receives funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 654065.
				<a href="http://www.eudat.eu/legal-notice" target="_blank">Legal Notice</a>
			</p>
		</div>
	</footer>

</body>

</html>