<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	{% load staticfiles %}

    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

	<title>B2Note service demo</title>

</head>

<body id="hostpage">

	<header>

		<div id="header-top">

			<a href="http://www.eudat.eu" target="_blank">GO TO EUDAT WEBSITE</a>

		</div>

		<div class = "container" id="header">

            <section class="row">

                <div class="col-xs-8 col-sm-4 col-md-2">

                    <img alt="EUDAT" title="EUDAT" src="{% static 'images/EUDAT-logo_3.png' %}" />

                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">

    			    <img alt="B2NOTE" title="B2NOTE" src="{% static 'images/B2NOTE-logo.png' %}" />

                </div>

                <div class="clear"> </div>

            </section>

		</div>

        <div class="clear"> </div>

	</header>

	<div class = "container" id="content">

        <div class = "container">

            <!-- http://stackoverflow.com/questions/12102464/how-do-i-make-iframes-load-only-on-a-button-click -->
            <iframe id="b2note_iframe" name="b2note_iframe" src="interface_main"
                width={{iframe_on}} onload="load_iframe('{{ subject_tofeed }}')"
                scrolling="no"></iframe>

        </div>

        <div class = "container">

            <h1>B2Note service prototype</h1>

        </div>

        <div class = "container">

            <h3>

                <a class="btn btn-info" data-toggle="collapse" href="#collapse1"><strong>Some explaining</strong></a>

                <a href="https://86.50.168.182/record/9" class="btn btn-warning" title="Click to be directed to B2Share integration demo." target="_blank"/>Click for B2Share integration demo instead</a>

                <a href="/login" class="btn btn-default btn" title="Registered user, log in to your home page.">Registered user</a>

            </h3>

            <div id="collapse1" class="panel-collapse collapse">

                <p>This page emulates the <strong>outcome of a search</strong> performed by a user of EUDAT services such as B2Share.</p>

                <p>Thus, it displays a list of hyperlinks pointing to <strong>files stored by EUDAT</strong>.</p>

                <br>

                <p>Next to each hyperlink stands a "Create Annotation" button.</p>

                <p>Clicking one of these buttons <strong>triggers the B2Note interface</strong>.</p>

                <br>

                <p>The B2note interface allows the user to <strong>select semantic concepts </strong> for describing the corresponding file.</p>

                <p>The semantic relations created in the process are <strong>stored</strong> by the B2Note service, allowing later retrieval and processing.</p>

            </div>

        </div>

        <hr>

        <div class = "container">

            <h3>The list of files:</h3>

            <table>

                {% for file_info in buttons_info %}

                <!-- For the production version the url will be pointing to https://b2note.bsc.es/api/create_annotation -->
                <form action="/interface_main" method="post" target="b2note_iframe">

                    {% csrf_token %}

                    <tr class="row1" colspan="2">

                        <td></td>

                    </tr>

                    <tr class="row2">

                        <td>

                            <input type="hidden" name="subject_tofeed" value="{{ file_info.file_url }}" class="field left" readonly="readonly" />
                            <a href="{{ file_info.file_url }}" target="_blank">{{ file_info.link_label }}</a>
                            <input type="hidden" name="pid_tofeed" value="{{ file_info.file_pid }}" class="field left" readonly="readonly" />

                        </td>

                        <td rowspan="2">

                            <input type="submit" id="{{ file_info.button_n }}" value="Create Annotation" title="Click to annotate using B2Note." />

                        </td>

                    </tr>

                    <tr class="row3">

                        <td>{{ file_info.file_pid }}</td>

                    </tr>

                    <tr class="row4" colspan="2">

                        <td> </td>
                        <td> </td>

                    </tr>

                </form>

                {% endfor %}

            </table>

        </div>

        <hr>

        <div class = "container">

            <a class="btn btn-info" data-toggle="collapse" href="#collapse2"><strong>Some extra explaining</strong></a>

            <div id="collapse2" class="panel-collapse collapse in">

                <div class="panel-body">

                    <div class="clear"> </div>

                    <p>
                        The necessary information was collected by hand for a small subset of
                        files. <br /> However, it is expected that the information can easily
                        be gathered in an automated way by the actual file-hosting service.
                    </p>

                    <p>This information includes:</p>

                    <ul>

                        <li>The pid of the file (required).</li>
                        <li>The hyperlink address (optional).</li>
                        <li>A human-readable label for the hyperlink (optional).</li>

                    </ul>

                </div>

            </div>

        </div>

	</div>

	<footer>
		<div id="footer-content">
			<img alt="CE logo" title="CE logo" src="{% static 'images/logo_ce.jpg' %}" />
			<p>
				EUDAT receives funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 654065.
				<a href="http://www.eudat.eu/legal-notice" target="_blank">Legal Notice</a>
			</p>
		</div>
	</footer>

</body>

</html>