<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	{% load staticfiles %}

    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

	<title>B2NOTE service pilot</title>

<style>
	#header {height: auto !important; }

	#hostpage {background: #FFFFFF; }
	#content {background: #FFFFFF url("static/images/bg_b2note.jpg") no-repeat fixed center center !important; padding-bottom: 40px;}

	#hostpage h1 {text-align: left;}
	footer {
	    /* background: #dddddd url("static/images/decor-footer.png") no-repeat scroll right bottom; */
	    background: #f7f3e9 url("static/images/color-line.png") repeat-x scroll left top;
	    height: auto;
	    padding: 20px 40px;
	}
	#footer-content {
	    display: table;
	    margin: 0 auto;
	    padding-top: 10px;
	}
	#footer-content img {
	    float: left;
	    margin-right: 10px;
	}
	#footer-content p {
	    font-size: 11px;
	    width: 100%;
	}
	#footer-content a {
	    color: #e5601e;
	}

	.clearfix, clearfix::before {clear:both;}

	.navbar-nav > li > a {
	    padding-bottom: 5px;
	    padding-top: 5px;
	}

	footer .navbar-nav > li > a {
	    font-size: 11px;
	}
</style>

</head>

<body id="hostpage">

	<header>

		<div id="header-top">

			<a href="http://www.eudat.eu" target="_blank">GO TO EUDAT WEBSITE</a>

		</div>

		<div class = "container" id="header">

            <section class="row clearfix">

              <div class="col-xs-12 col-sm-12 col-md-2">
                    <img alt="EUDAT" title="EUDAT" src="static/images/logo.png" style="width: 100%;"/>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10">
    			    <!--img alt="B2NOTE" title="B2NOTE" src="{% static 'images/B2NOTE - logo.png' %}" /-->
                </div>

                <div class="clear"> </div>

            </section>

		</div>

        <div class="clear"> </div>

	</header>

	<div class = "container" id="content">

        <div class = "container">

            <!-- http://stackoverflow.com/questions/12102464/how-do-i-make-iframes-load-only-on-a-button-click -->
            <iframe id="b2note_iframe" name="b2note_iframe" src="interface_main"
                width={{iframe_on}} onload="load_iframe('{{ subject_tofeed }}')"
                scrolling="no"></iframe>

        </div>

        <div class = "container">

            <h1>B2NOTE service pilot</h1>

        </div>

        <div class="container" style="margin-top:10px;margin-bottom:10px;">
            <p style="font-size:12px;">B2NOTE is currently a pilot service.
                As such, please be advised that the B2NOTE service may be unstable, subject to changes and that no guarantee is
                provided on the preservation of annotations or any other data.</p>
        </div>

        <div class = "container">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"  style="margin-bottom:0px;padding-bottom:0px;">
                <h3>
                    <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapse1" role="tab" aria-controls="collapse1"><strong>How to use it</strong></a>
                    <a class="btn btn-warning" data-toggle="collapse" data-parent="#accordion" href="#collapse2" role="tab" aria-controls="collapse2">B2Share integration demo</a>
                    <!--<a href="/login" class="btn btn-default btn" title="Registered user, log in to your home page.">Registered user</a>-->
                </h3>
                <div class="panel" style="border:0px;background:none;margin-bottom:0px;padding-bottom:0px;">
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                        <p>Here is how to access the B2NOTE console from a B2SHARE file record page.</p>
                        <p><b>Step 1:</b> Pick a file in <a href="https://trng-b2share.eudat.eu">B2SHARE</a>.</p>
                        <p><b>Step 2:</b> Click on the arrow next to the file you want to annotate to reveal the annotation button.</p>
                        <p style="text-align:center;"><img src={% static "images/Description_UseinB2SHARE.png" %} style="width:550px;"/></p>
                        <p><b>Step 3:</b> Click on the button to show the widget. If the widget does not appear, please change the size of your browser window (use Ctrl – or Cmd -). The widget should appear at the bottom right of the browser window. We will fix these issues in the upcoming weeks.</p>
                        <p style="text-align:center;"><a href="https://trng-b2share.eudat.eu" class="btn btn-primary" title="Click to be directed to B2SHARE training instance." target="_blank"/>Access B2SHARE training instance</a></p>
                        <!--<p style="text-align:center;"><img src={% static "images/B2SHARE_integration_record_folded.png" %} style="width:320px;"/></p>-->
                        <!--<p style="text-align:center;"><img src={% static "images/B2SHARE_integration_record_unfolded.png" %} style="width:320px;"/></p>-->
                    </div>
                </div>
                <div class="panel" style="border:0px;background:none;margin-bottom:0px;padding-bottom:0px;">
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                        <p>This page emulates the <strong>outcome of a search</strong> performed by a user of EUDAT services such as B2SHARE.</p>
                        <p>Thus, it displays a list of hyperlinks pointing to <strong>files stored by EUDAT</strong>.</p>
                        <br>
                        <p>Next to each hyperlink stands a "Create Annotation" button.</p>
                        <p>Clicking one of these buttons <strong>triggers the B2NOTE interface</strong>.</p>
                        <br>
                        <p>The B2NOTE interface allows the user to <strong>select semantic concepts </strong> for describing the corresponding file.</p>
                        <p>The semantic relations created in the process are <strong>stored</strong> by the B2NOTE service, allowing later retrieval and processing.</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class = "container">

            <h3>The list of files:</h3>

            <table>

                {% for file_info in buttons_info %}

                <!-- For the production version the url will be pointing to https://b2note.bsc.es/api/create_annotation -->
                <form action="/interface_main" method="post" target="b2note_iframe">

                    {% csrf_token %}

                    <tr class="row1" colspan="2">

                        <td></td>

                    </tr>

                    <tr class="row2">

                        <td>

                            <input type="hidden" name="subject_tofeed" value="{{ file_info.file_url }}" class="field left" readonly="readonly" />
                            <a href="{{ file_info.file_url }}" target="_blank">{{ file_info.link_label }}</a>
                            <input type="hidden" name="pid_tofeed" value="{{ file_info.file_pid }}" class="field left" readonly="readonly" />

                        </td>

                        <td rowspan="2">

                            <input type="submit" id="{{ file_info.button_n }}" value="Create Annotation" title="Click to annotate using B2NOTE." />

                        </td>

                    </tr>

                    <tr class="row3">

                        <td>{{ file_info.file_pid }}</td>

                    </tr>

                    <tr class="row4" colspan="2">

                        <td> </td>
                        <td> </td>

                    </tr>

                </form>

                {% endfor %}

            </table>

        </div>

        <hr>

        <div class = "container">

            <a class="btn btn-info" data-toggle="collapse" href="#collapse3"><strong>Further information</strong></a>

            <div id="collapse3" class="panel-collapse collapse in">

                <div class="panel-body">

                    <div class="clear"> </div>

                    <p>
                        The necessary information was collected by hand for a small subset of
                        files. <br /> However, it is expected that the information can easily
                        be gathered in an automated way by the actual file-hosting service.
                    </p>

                    <p>This information includes:</p>

                    <ul>

                        <li>The hyperlink address of the file (required).</li>
                        <li>A human-readable label for the hyperlink (optional).</li>

                    </ul>

                </div>

            </div>

        </div>

	</div>

	<footer>
		<div id="footer-content">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-1 col-md-1">
						<img alt="CE logo" title="CE logo" src="{% static 'images/logo_ce.jpg' %}" />
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5">
						<p>
							EUDAT receives funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 654065.
							<a href="http://www.eudat.eu/legal-notice" target="_blank">Legal Notice</a>
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 text-right">
						<nav class="navbar navbar-footer">
							<ul id="menu" class="nav navbar-nav navbar-right pull-right">
								<li><a target="_blank" href="https://eudat.eu/what-eudat">About EUDAT</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>
