{% extends "b2note_app/__base.html" %}

{% block content %}

    {% if subject_tofeed|length = 0 %}

    <script>hide_iframe();</script>

    {% else %}

    <script>show_iframe();</script>

    {% endif %}

    <div class="container" id="section_create">

        <div class="container" id="user_area">

            {% if duplicate %}
                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">Not created, an identical annotation already exists.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default" style="margin:5px;">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top:15px;font-size:12px;">
                                <div class="container col-xs-12">
                                    {% if duplicate.shortform %}
                                        {{duplicate.label}} ({{duplicate.shortform}})
                                    {% else %}
                                        {{duplicate.label}}"
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            {% elif new_semantic %}

                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The semantic annotation was created.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default" style="margin:5px;">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="container col-xs-12" style="margin-top:15px;font-size:12px;">
                                    {{new_semantic.label}} ({{new_semantic.shortform}})"
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            {% elif new_keyword %}

                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The free-text keyword annotation was created.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default" style="margin:5px;">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" >
                                <div class="container col-xs-12" style="margin-top:15px;font-size:12px;">
                                    {{new_keyword.label}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            {% elif new_comment %}

                <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-xs-9">The comment annotation was created.</td>
                            <td class="col-xs-3"><a href="/interface_main" class="btn btn-default" style="margin:5px;">OK</a></td>
                        </tr>
                        <tr>
                            <td colspan="2" >
                                <div class="container col-xs-12" style="margin-top:15px;">
                                    <textarea name="comment_text" rows="5" class="form-control custom-control" id="created_comment_input" style="font-size:12px;" readonly>{{new_comment.label}}</textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            {% elif annotation_deleted %}

                {% if annotation_deleted == "success" %}

                    <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                        <table class="table table-condensed">
                            <tr>
                                <td class="col-xs-9">The annotation was deleted.</td>
                                <td class="col-xs-3"><a href="/interface_main" class="btn btn-default" style="margin:5px;">OK</a></td>
                            </tr>
                        </table>
                    </div>

                {% elif annotation_deleted == "abort" %}

                    <div class="container" style="float:left;margin:10px;margin-bottom:25px;">
                        <table class="table table-condensed">
                            <tr>
                                <td class="col-xs-9">The annotation was not be deleted.</td>
                                <td class="col-xs-3"><a href="/interface_main" class="btn btn-default" style="margin:5px;">OK</a></td>
                            </tr>
                        </table>
                    </div>

                {% endif %}

            {% elif has_semantic_equivalent %}

                <div class="container" style="float:left;margin:10px;margin-bottom:25px;text-align:center;">
                    <table>
                        <tr><td colspan="3">We detected <strong>semantic terms</strong> matching your keyword.</td></tr>
                        <tr><td colspan="3">Would you like to select one?</td></tr>
                        <tr><td colspan="3">Or carry on with free-text?</td></tr>
                        <tr><td colspan="3"><p> </p></td></tr>
                        <tr>
                            <td>
                                <form action="/interface_main" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="subject_tofeed" value="{{subject_tofeed}}" hidden>
                                    <input type="text" name="textinput_primer" value="{{has_semantic_equivalent}}" hidden>
                                    <input type="submit" class="btn btn-default" name="semantic_submit" id="primed_semantic_submit" value="Semantic" title="Create a semantic annotation."/>
                                </form>
                            </td>
                            <td>
                                <form action="/create_annotation" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="subject_tofeed" value="{{subject_tofeed}}" hidden>
                                    <input type="text" name="confirm_flag" value="confirmed" hidden>
                                    <input type="text" name="keyword_text" value="{{has_semantic_equivalent}}" hidden>
                                    <input type="submit" class="btn btn-default" name="keyword_submit" id="confirmed_keyword_submit" value="Keyword" title="Create the free-text keyword annotation."/>
                                </form>
                            </td>
                            <td><a href="/interface_main" class="btn btn-default">Cancel</a></td>
                        </tr>
                    </table>
                </div>
                <br>
                <hr>

            {% elif long_keyword %}

                <div class="container" style="float:left;margin:10px;margin-bottom:25px;text-align:center;">
                    <table>
                        <tr><td colspan="3">This text seems <strong>long</strong> for a keyword (>60 characters).</td></tr>
                        <tr><td colspan="3">Do you want to use it as ... ?</td></tr>
                        <tr><td colspan="3"><p> </p></td></tr>
                        <tr>
                            <td>
                                <form action="/create_annotation" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="subject_tofeed" value="{{subject_tofeed}}" hidden>
                                    <input type="text" name="enforce_flag" value="confirmed" hidden>
                                    <input type="text" name="confirm_flag" value="confirmed" hidden>
                                    <input type="text" name="keyword_text" value="{{long_keyword}}" hidden>
                                    <input type="submit" class="btn btn-default" name="keyword_submit" id="enforced_keyword_submit" value="Keyword" title="Create the free-text keyword annotation."/>
                                </form>
                            </td>
                            <td>
                                <form action="/create_annotation" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="subject_tofeed" value="{{subject_tofeed}}" hidden>
                                    <input type="text" name="comment_text" value="{{long_keyword}}" hidden>
                                    <input type="submit" class="btn btn-default" name="comment_submit" id="primed_comment_submit" value="Comment" title="Create a comment annotation."/>
                                </form>
                            </td>
                            <td><a href="/interface_main" class="btn btn-default">Cancel</a></td>
                        </tr>
                    </table>
                </div>

            {% else %}

                <!-- http://stackoverflow.com/questions/18036315/centering-bootstrap-input-fields -->
                <ul class="nav nav-tabs" id="create_tabs">
                    <li class="active"><a data-toggle="tab" href="#semantic">Semantic tag</a></li>
                    <li><a data-toggle="tab" href="#keyword">Free-text keyword</a></li>
                    <li><a data-toggle="tab" href="#comment">Comment</a></li>
                </ul>
                <div id="homepage_tab_contents" class="tab-content">
                    <div id="semantic" class="tab-pane fade in active form-group">
                        <div id="semantic_container" class="container" style="padding-left:10px;margin-left:0px;">
                            <form class="form-inline" action="/create_annotation" method="post">
                                <div id="semantic_formgroup" class="form-group col-xs-9" style="padding-right:5px;padding-left:0px;margin-left:0px;">
                                    {% csrf_token %}
                                    <input type="hidden" name="ontology_json" id="ontology_json">
                                    <input type="text" name="subject_tofeed" id="semantic_target_id" value="{{subject_tofeed}}" hidden>
                                    {% if textinput_primer %}
                                        <input type="text" class="form-control" name="q" id="id_q" value="{% if query %}{{ query }}{% else %}{{textinput_primer}}{% endif %}" autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                                    {% else %}
                                        <input type="text" class="form-control" name="q" id="id_q" value="{{ query }}" placeholder="Type-in to select a tag." autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                                    {% endif %}
                                </div>
                                <input type="submit" class="btn btn-default col-xs-3" name="semantic_submit" id="semantic_submit" value="Create" title="Create an annotation using my selected tag."/>
                            </form>
                        </div>
                    </div>
                    <div id="keyword" class="tab-pane fade form-group">
                        <div id="keyword_container" class="container" style="padding-left:10px;margin-left:0px;">
                            <form class="form-inline" action="/create_annotation" method="post">
                                <div id="keyword_formgroup" class="form-group col-xs-9" style="padding-right:5px;padding-left:0px;margin-left:0px;">
                                    {% csrf_token %}
                                    <input type="text" name="subject_tofeed" id="keyword_target_id" value="{{subject_tofeed}}" hidden>
                                    <input type="text" name="keyword_text" class="form-control custom-control" id="keyword_input" placeholder="Type-in a keyword."/>
                                    <!--<span class="input-group-addon btn btn-primary" title="Create an annotation using my free-text keyword." onClick="get_free_text()">Create</span>-->
                                </div>
                                <input type="submit" class="btn btn-default col-xs-3" name="keyword_submit" id="keyword_submit" value="Create" title="Create an annotation using my free-text keyword."/>
                            </form>
                        </div>
                    </div>
                    <div id="comment" class="tab-pane fade form-group">
                        <div id="comment_container" class="container" style="padding-left:10px;margin-left:0px;">
                            <form class="form-inline" action="/create_annotation" method="post">
                                <div id="comment_formgroup" class="form-group col-xs-9" style="padding-right:2px;padding-left:2px;margin-left:0px;">
                                    {% csrf_token %}
                                    <input type="text" name="subject_tofeed" id="comment_target_id" value="{{subject_tofeed}}" hidden>
                                    <textarea name="comment_text" rows="3" class="form-control custom-control" id="comment_input" placeholder="Type your comment."></textarea>
                                </div>
                                <input type="submit" class="btn btn-default col-xs-3" name="comment_submit" id="comment_submit" value="Create" title="Create an annotation using my comment."/>
                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}



            <div class="container" id="my_annotations_mainpage_container">
                <!--<a class="btn btn-link" data-toggle="collapse" href="#myannotation_collapse">
                    <i class="glyphicon glyphicon-triangle-right"></i>
                </a>-->

                <div class="row">
	                <div class="col-xs-4 padding-top-5px">
		                <!--span class="caret caret-lg" data-toggle="collapse" href="#myannotation_collapse" style="border-width:8px;"></span-->
		                <a data-toggle="collapse" href="#myannotation_collapse"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
	                </div>
	                <div class="col-xs-8 text-right">
		                <a href="/myannotations" class="btn">All my annotations</a>
	                </div>
                </div>





                <div id="myannotation_collapse" class="panel-collapse collapse">
                    <table class="table table-condensed table-responsive" id="myannot_table_main">
                        <tr>
                            <!--<div class = "container">-->
                                {% if my_s != None %}
                                    <td><a href="/myannotations#semantic" title="Click for full list.">Semantic tag</a></td>
                                    <td class="text-right">
                                        <a href="/myannotations#semantic" title="Click for full list." style="padding:2px">
                                            <span class="bg-orange">{{my_s}}</span>
                                        </a>
                                        <!--<a href="/myannotations#semantic" title="Click for full list.">
                                            <svg height="20" width="20">
                                                {% if my_s > 9 %}
                                                    <circle cx="10" cy="10" r="10" style="fill:rgb(64,196,96);fill-opacity:0.5;" />
                                                    <text x="1" y="15" fill="black">{{my_s}}</text>
                                                {% else %}
                                                    <circle cx="10" cy="10" r="10" style="fill:rgb(64,196,96);fill-opacity:0.5;" />
                                                    <text x="5" y="15" fill="black">{{my_s}}</text>
                                                {% endif %}
                                            </svg>
                                        </a>-->
                                    </td>
                                {% endif %}
                            <!--</div>-->
                        </tr>
                        <tr>

                                {% if my_k != None %}
                                    <td>
                                        <a href="/myannotations#keyword" title="Click for full list.">Free-text keyword</a>
                                    </td>
                                    <td class="text-right">
                                        <a href="/myannotations#keyword" title="Click for full list." style="padding:2px">
                                            <span class="bg-orange">{{my_k}}</span>
                                        </a>
                                    </td>
                                {% endif %}

                        </tr>
                        <tr>

                                {% if my_c != None %}
                                    <td>
                                        <a href="/myannotations#comment" title="Click for full list.">Comment</a>
                                    </td>
                                    <td class="text-right">
                                        <a href="/myannotations#comment" title="Click for full list." style="padding:2px">
                                            <span class="bg-orange">{{my_c}}</span>
                                        </a>
                                    </td>
                                {% endif %}

                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

  <br>

    <div id="pulledarea">
        <div class="container" id="for_padding_adjsutement">
            <!--<a class="btn btn-link" data-toggle="collapse" href="#allannotations_collapse">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </a>-->

                <div class="row">
	                <div class="col-xs-2 padding-top-5px">
		                <!--span class="caret caret-lg" data-toggle="collapse" href="#myannotation_collapse" style="border-width:8px;"></span-->
		                <a data-toggle="collapse" href="#allannotations_collapse"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
	                </div>
	                <div class="col-xs-10 text-right">
		                <a href="/allannotations">All annotations about this file</a>
	                </div>
                </div>

				<br/>

            <div id="allannotations_collapse" class="panel-collapse collapse">
                <table  class="table table-condensed table-responsive" id="allannot_table_main">
                    <tr>
                        <div class = "container">
                            <td><a href="/allannotations#semantic">Semantic tag</a></td>
                            <td>
                                {% if all_s != None %}
                                    {% if all_s == 0 %}
                                        <a href="#" title="No semantic annotation by other users." style="padding:2px">
                                            <span class="badge" id="all_sem_{{ forloop.counter0 }}">{{all_s}}</span>
                                        </a>
                                    {% else %}
                                        <a href="/allannotations#semantic" title="Semantic annotations by other users,&#13click for full list." style="padding:2px">
                                            <span class="badge" id="all_sem_{{ forloop.counter0 }}">{{all_s}}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if myf_s != None %}
                                    {% if myf_s == 0 %}
                                        <a href="#" title="No semantic annotation was created by me." style="padding:2px" >
                                            <span class="badge" id="myf_sem_{{ forloop.counter0 }}">{{myf_s}}</span>
                                        </a>
                                    {% else %}
                                        <a href="/allannotations#semantic" title="My semantic annotations,&#13click for full list." style="padding:2px">
                                            <span class="badge" id="myf_sem_{{ forloop.counter0 }}">{{myf_s}}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="container">
                            <td><a href="/allannotations#keyword">Free-text keyword</a></td>
                            <td>
                                {% if all_k != None %}
                                    {% if all_k == 0 %}
                                        <a href="#" title="No keyword annotation by other users." style="padding:2px" >
                                            <span class="badge" id="all_key_{{ forloop.counter0 }}">{{all_k}}</span>
                                        </a>
                                    {% else %}
                                        <a href="/allannotations#keyword" title="Keyword annotations by other users,&#13click for full list." style="padding:2px">
                                            <span class="badge" id="all_key_{{ forloop.counter0 }}">{{all_k}}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if myf_k != None %}
                                    {% if myf_k == 0 %}
                                        <a href="#" title="No keyword annotation was created by me." style="padding:2px" >
                                            <span class="badge" id="myf_key_{{ forloop.counter0 }}">{{myf_k}}</span>
                                        </a>
                                    {% else %}
                                        <a href="/allannotations#keyword" title="My keyword annotations,&#13click for full list." style="padding:2px">
                                            <span class="badge" id="myf_key_{{ forloop.counter0 }}">{{myf_k}}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class = "container">
                            <td><a href="/allannotations#comment">Comment</a></td>
                            <td>
                                {% if all_c != None %}
                                    {% if all_c == 0 %}
                                        <a href="#" title="No comment annotation by other users." style="padding:2px" >
                                            <span class="badge" id="all_com_{{ forloop.counter0 }}">{{all_c}}</span>
                                        </a>
                                    {% else %}
                                        <a href="/allannotations#comment" title="Comment annotations by other users,&#13click for full list." style="padding:2px">
                                            <span class="badge" id="all_com_{{ forloop.counter0 }}">{{all_c}}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if myf_c != None %}
                                    {% if myf_c == 0 %}
                                        <a href="#" title="No comment annotation was created by me." style="padding:2px" >
                                            <span class="badge" id="myf_com_{{ forloop.counter0 }}">{{myf_c}}</span>
                                        </a>
                                    {% else %}
                                        <a href="/allannotations#comment" title="My comment annotations,&#13click for full list." style="padding:2px">
                                            <span class="badge" id="myf_com_{{ forloop.counter0 }}">{{myf_c}}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
