{% extends "b2note_app/__base.html" %}

{% block content %}

	<div class="container" id="myannotations_summary">
		<h3>My annotations</h3>
		<div id="myannotations_summ">
			<table class="table table-condensed table-responsive" id="myannot_table_main">
				<tr>
					<div class = "container">
						{% if my_s != None %}
							<td><a href="#semantic">Semantic tag</a></td>
							{% if my_s == 0 %}
								<td>
									<a href="#semantic" title="No semantic annotation was created by me.">
										<span class="badge" style="font-weight: 400;opacity: 0.8;background: #40c460;font-size:14px;">{{my_s}}</span>
									</a>
								</td>
							{% else %}
								<td>
									<a href="#semantic" title="My semantic annotations,&#13click for full list.">
										<span class="badge" style="font-weight: 400;opacity: 0.8;background: #40c460;font-size:14px;">{{my_s}}</span>
									</a>
								</td>
							{% endif %}
						{% endif %}
					</div>
				</tr>
				<tr>
					<div class = "container">
						{% if my_k != None %}
							<td><a href="#keyword">Free-text keyword</a></td>
							{% if my_k == 0 %}
								<td>
									<a href="#semantic" title="No free-text keyword annotation was created by me.">
										<span class="badge" style="font-weight: 400;opacity: 0.8;background: #40c460;font-size:14px;">{{my_k}}</span>
									</a>
								</td>
							{% else %}
								<td>
									<a href="#keyword" title="My keyword annotations,&#13click for full list.">
										<span class="badge" style="font-weight: 400;opacity: 0.8;background: #40c460;font-size:14px;">{{my_k}}</span>
									</a>
								</td>
							{% endif %}
						{% endif %}
					</div>
				</tr>
				<tr>
					<div class = "container">
						{% if my_c != None %}
							<td><a href="#comment">Comment</a></td>
							{% if my_c == 0 %}
								<td>
									<a href="#semantic" title="No comment annotation was created by me.">
										<span class="badge" style="font-weight: 400;opacity: 0.8;background: #40c460;font-size:14px;">{{my_c}}</span>
									</a>
								</td>
							{% else %}
								<td>
									<a href="#comment" title="My comment annotations,&#13click for full list.">
										<span class="badge" style="font-weight: 400;opacity: 0.8;background: #40c460;font-size:14px;">{{my_c}}</span>
									</a>
								</td>
							{% endif %}
						{% endif %}
					</div>
				</tr>
			</table>
        </div>

		<div class="container" id="semantic" style="padding-left: 5px;">
			<h4>Semantic tag <span><a href="#myannotations_summary" id="link_to_top">^top</a></h4>
			{% if semantic_table %}
				<table class="table table-condensed table-responsive table-striped" >
					<th>Label</th><th>Used</th><th colspan="2">Actions</th>
					{% for ann in semantic_table %}
						<tr>
							<form action="/annotation_summary" method="post">
								{% csrf_token %}
								<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
								<td style="width:100%;">
									<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.link_label}}"
									   title="{% if ann.link_info_label %}{{ann.link_info_label}}{% endif %}
{% if ann.link_info_ontologyacronym %}{{ann.link_info_ontologyacronym}}{% endif %}: {% if ann.link_info_shortform %}{{ann.link_info_shortform}}{% endif %}
{% if ann.link_info_creatornickname %}By: {{ann.link_info_creatornickname}}{% endif %}
{% if ann.link_info_modified %}On: {{ann.link_info_modified}}{% endif %}
Click for full info." style="font-size:12px;padding:2px;margin-right:10px;"/>
								</td>
								<td>
									<button class="btn btn-link" name="about_mysimilar" type="submit" title="In my annotations,&#13click for full list." style="padding:2px;margin-right:10px;">
										<span class="badge" id="my_sem_{{ forloop.counter0 }}">{{ann.my_similar}}</span>
									</button>
									<!--<input type="submit" id="my_sem_{{ forloop.counter0 }}" class="btn btn-primary" name="about_mysimilar" value="{{ann.my_similar}}"
									   title="In my annotations,&#13click for full list." style="padding:2px;margin-right:10px;"/>-->
								</td>
							</form>
							{% if ann.link_info_creatornickname == user_nickname %}
								<td>
									<form action="/edit_annotation" method="post" style="padding:0px;margin-left:10px;">
										{% csrf_token %}
										<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
										<button type="submit" class="btn btn-link" title="Edit this annotation" style="padding: 2px;">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
									</form>
								</td>
								<td>
									<form action="/delete_annotation" method="post">
										{% csrf_token %}
										<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
										<button type="submit" class="btn btn-link" title="Delete this annotation" style="padding: 2px;">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</form>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No semantic tag annotation about this file.</p>
			{% endif %}
		</div>

		<div class="container" id="keyword" style="padding-left: 5px;">
			<h4>Free-text keyword <span><a href="#myannotations_summary" id="link_to_top">^top</a></h4>
			{% if keyword_table %}
				<table class="table table-condensed table-responsive table-striped" >
					<th>Label</th><th>Used</th><th colspan="2">Actions</th>
					{% for ann in keyword_table %}
						<tr>
							<form action="/annotation_summary" method="post">
								{% csrf_token %}
								<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
								<td style="width:100%;">
									<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.link_label}}"
									   title="{% if ann.link_info_label %}{{ann.link_info_label}}{% endif %}
{% if ann.link_info_creatornickname %}By: {{ann.link_info_creatornickname}}{% endif %}
{% if ann.link_info_creatornickname %}On: {{ann.link_info_modified}}{% endif %}
Click for full info." style="font-size:12px;padding:2px;margin-right:10px;"/>
								</td>
								<td>
									<button class="btn btn-link" name="about_mysimilar" type="submit" title="In my annotations,&#13click for full list." style="padding:2px;margin-right:10px;">
										<span class="badge" id="my_key_{{ forloop.counter0 }}">{{ann.my_similar}}</span>
									</button>
									<!--<input type="submit" class="btn btn-link" name="about_mysimilar" value="{{ann.my_similar}}"
										   title="In my annotations,&#13click for full list." style="padding:2px;margin-right:10px;"/>-->
								</td>
							</form>

							{% if ann.link_info_creatornickname == user_nickname %}

								<td>
									<form action="/edit_annotation" method="post" style="padding:0px;margin-left:10px;">
										{% csrf_token %}
										<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
										<button type="submit" class="btn btn-link" title="Edit this annotation" style="padding: 2px;">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
									</form>
								</td>

								<td>
									<form action="/delete_annotation" method="post">
										{% csrf_token %}
										<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
										<button type="submit" class="btn btn-link" title="Delete this annotation" style="padding: 2px;">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</form>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No free-text keyword annotation about this file.</p>
			{% endif %}
		</div>

		<div class="container" id="comment" style="padding-left: 5px;margin-bottom:280px;">
			<h4>Comment <span><a href="#myannotations_summary" id="link_to_top">^top</a></h4>
			{% if comment_table %}
				<table class="table table-condensed table-responsive table-striped" >
					<th>Label</th><th colspan="2">Actions</th>
					{% for ann in comment_table %}
						<tr>
							<td style="width:100%;">
								<form action="/annotation_summary" method="post">
									{% csrf_token %}
									<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
									<input type="submit" class="btn btn-link" name="about_allsimilar" value="{{ann.link_label}}"
										   title="{% if ann.link_info_label %}{{ann.link_info_label}}{% endif %}
{% if ann.link_info_modified %}On: {{ann.link_info_modified}}{% endif %}
Click for full info." style="font-size:12px;padding:2px;margin-right:10px;"/>
								</form>
							</td>

							{% if ann.link_info_creatornickname == user_nickname %}
								<td>
									<form action="/edit_annotation" method="post" style="padding:0px;margin-left:10px;">
										{% csrf_token %}
										<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
										<button type="submit" class="btn btn-link" title="Edit this annotation" style="padding: 2px;">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
									</form>
								</td>

								<td>
									<form action="/delete_annotation" method="post">
										{% csrf_token %}
										<input type="hidden" name="db_id" value="{{ann.ann_id}}" hidden>
										<button type="submit" class="btn btn-link" title="Delete this annotation" style="padding: 2px;">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</form>

								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No comment annotation about this file.</p>
			{% endif %}
		</div>
	</div>

{% endblock %}