{% extends "b2note_app/__base.html" %}

{% block content %}

    <h3 style="margin-bottom:20px;">Search</h3>

    <div class="container" style="margin-top:10px;margin-bottom:50px;">

        <form action="/search" method="post">

            {% csrf_token %}

            {% for f in form %}

                <div class="row" id="search_form_section_{{forloop.counter0}}" style="margin-top:10px;">

                    {% if f.logicals %}

                        <div class="container col-xs-4">
                            <select name="logical{{forloop.counter0}}" class="form-control" onchange="this.form.submit()">
                                {% for op in f.logicals %}
                                    {% if op == f.logical %}
                                        <option value="{{op}}" selected>{{ op }}</option>
                                    {% else %}
                                         <option value="{{op}}">{{ op }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                    {% endif %}

                    {% if f.types %}

                        <div class="container col-xs-8">
                            <select name="select{{forloop.counter0}}" class="form-control" onchange="this.form.submit()">
                                {% for op in f.types %}
                                    {% if op == f.type %}
                                        <option value="{{op}}" selected>{{ op }}</option>
                                    {% else %}
                                        <option value="{{op}}">{{ op }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                        </div>

                        {% if f.type %}

                            {% if f.type == "Semantic tag" %}

                                <div class="container col-xs-12 col-sm-12" id="select_semantic">

                                    <input type="hidden" name="ontology_json{{forloop.counter0}}" id="ontology_json{{forloop.counter0}}" {% if f.search_json %}value="{{f.search_json}}"{% endif %}>
                                    <input type="text" class="form-control" name="q{{forloop.counter0}}" id="id_q_search{{forloop.counter0}}" value="{% if query %}{{ query }}{% elif f.search_param %}{{f.search_param.labels}} ({{f.search_param.short_form}}){% endif %}" placeholder="Type-in to select a tag"  autocomplete="off" spellcheck="false" dir="auto" autofocus/>

                                    <input type="checkbox" name="cbox{{forloop.counter0}}" id="cbox{{forloop.counter0}}" value="syn" {% if f.syn_incl %}checked{% endif %} style="margin-right:5px;">Include synonym matches

                                </div>

                            {% elif f.type == "Free-text keyword" %}

                                <div class="container col-xs-12 col-sm-12" id="select_keyword" >

                                    <input type="text" name="keyword{{forloop.counter0}}" class="form-control custom-control"{% if f.search_param %}value="{{f.search_param}}"{% endif %} id="keyword{{forloop.counter0}}" placeholder="Type-in a free-text keyword"/>

                                </div>

                            {% elif f.type == "Comment" %}

                                <div class="container col-xs-12 col-sm-12" id="select_comment" style="font-size:12px;">

                                    Returns all files with comment annotations (combines with the other search parameters).

                                </div>

                            {% endif %}

                        {% endif %}

                    {% endif %}

                </div>

            {% endfor %}


            {% if fmessage %}
                <div class="container col-xs-12 col-sm-12" style="margin-top:10px;font-size:12px;">
                    <em>{{fmessage}}</em>
                </div>
            {% endif %}


            <div class="container col-xs-12 col-sm-12" style="margin-top:15px;margin-left:0px;padding-left:0px;">
                <input type="submit" name="plus" value="+" />
            </div>
            <div class="container col-xs-12 col-sm-12" style="margin-top:5px;margin-left:0px;padding-left:0px;">
                <button type="submit" class="btn btn-default" name="launch_search" title="Search for files">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>

        </form>

    </div>

{% endblock %}