{% extends "b2note_app/__base.html" %}

{% block content %}

    {% csrf_token %}

    <div class="container" id="search_annotation_form">

        <div class="row">

            <div class="col-sm-6">

                <h2>Search annotation</h2>

            </div>

        </div>

        <div class="container">

            <div class="row"><br></div>

            <form action="search_annotation" method="post" class="form-horizontal">

                {% csrf_token %}

                <div class="form-group">
                    <div class="col-sm-2"><Label for="id_q">Search on keyword:</Label></div>
                    {% if keywd_json %}
                        <div id="keyword" class="tab-pane fade in active form-group col-sm-10">
                            <input type="text" class="form-control" name="q" id="id_q" value="{{ query }}"
                                   placeholder="{{ keywd_json.labels }} ({{ keywd_json.ontology_acronym }}:{{ keywd_json.short_form }})"  autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                        </div>
                    {% else %}
                        <div id="keyword" class="tab-pane fade in active form-group">
                            <input type="text" class="form-control" name="q" id="id_q" value="{{ query }}"
                                   placeholder="Type keyword"  autocomplete="off" spellcheck="false" dir="auto" autofocus/>
                        </div>
                    {% endif %}
                </div>

            </form>

        </div>


        {% if keywd_json %}

            <h3>Exact match</h3>

            {% if label_match %}

            <div class="table-responsive">

                <table class="table table-condensed">

                    <th>Annot.</th>

                    <th>About</th>

                    <th>By (pseudonym)</th>

                    <th>As</th>

                    <th>Created</th>

                    <th>Modified</th>

                    <th>Annot. id</th>

                    {% for ann in label_match %}

                    <tr>

                        {% if ann.body.0.jsonld_id %}

                            {% if "http" in ann.body.0.jsonld_id %}

                            <td><a href="{{ ann.body.0.jsonld_id }}" target="_blank">{{ ann.body.0.value }}</a></td>

                            {% else %}

                            <td>{{ ann.body.0.value }}</td>

                            {% endif %}

                        {% else %}

                            <td>{{ ann.body.0.value }}</td>

                        {% endif %}

                        <td>{{ ann.target.0.jsonld_id }}</td>

                        <td>{{ ann.creator.0.nickname }}</td>

                        <td>{{ ann.motivation.0 }}</td>

                        <td title="{{ ann.created }}">{{ ann.created|date:"Y" }}</td>

                        <td title="{{ ann.modified }}">{{ ann.modified|date:"Y" }}</td>

                        <td title="{{ ann.jsonld_id }}"><input type="text" class="form-control col-sm-2" value="{{ ann.jsonld_id }}" title="{{ ann.jsonld_id }}" readonly/></td>

                    </tr>

                    {% endfor %}

                </table>

            </div>

            {% elif keywd_json %}

            <div class="container">
                <div class="tab-content col-sm-8 col-sm-offset-1">
                    The keyword
                    <label>{{keywd_json.labels}}</label>
                    ({{keywd_json.ontology_acronym}}:{{keywd_json.short_form}})
                    is <label>not used </label> in any annotation.
                </div>
                <div class="col-sm-12">
                    <label>  </label>
                </div>
            </div>

            {% endif %}


            <h3>Related annotations</h3>

            {% if synonym_match %}

            <div class="table-responsive">

                <table class="table table-condensed">

                    <th>Annot.</th>

                    <th>About</th>

                    <th>By (pseudonym)</th>

                    <th>As</th>

                    <th>Created</th>

                    <th>Modified</th>

                    <th>Annot. id</th>

                    {% for qset in synonym_match %}

                        {% for ann in qset %}

                        <tr>

                            {% if ann.body.0.jsonld_id %}

                                {% if "http" in ann.body.0.jsonld_id %}

                                <td><a href="{{ ann.body.0.jsonld_id }}" target="_blank">{{ ann.body.0.value }}</a></td>

                                {% else %}

                                <td>{{ ann.body.0.value }}</td>

                                {% endif %}

                            {% else %}

                                <td>{{ ann.body.0.value }}</td>

                            {% endif %}

                            <td>{{ ann.target.0.jsonld_id }}</td>

                            <td>{{ ann.creator.0.nickname }}</td>

                            <td>{{ ann.motivation.0 }}</td>

                            <td title="{{ ann.created }}">{{ ann.created|date:"Y" }}</td>

                            <td title="{{ ann.modified }}">{{ ann.modified|date:"Y" }}</td>

                            <td title="{{ ann.jsonld_id }}"><input type="text" class="form-control col-sm-2" value="{{ ann.jsonld_id }}" title="{{ ann.jsonld_id }}" readonly/></td>

                        </tr>

                        {% endfor %}

                    {% endfor %}

                </table>

            </div>

            {% elif keywd_json %}

            <div class="container">
                <div class="tab-content col-sm-8 col-sm-offset-1">
                    No annotation using
                    <label>synonyms</label>
                    of
                    <label>{{keywd_json.labels}}</label>
                    ({{keywd_json.ontology_acronym}}:{{keywd_json.short_form}}) was found.
                </div>
                <div class="col-sm-12">
                    <label>  </label>
                </div>
            </div>

            {% endif %}

        {% endif %}

    </div>

{% endblock %}