{% extends "b2note_app/__base.html" %}

{% block content %}

    <h3>Search results</h3>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".expanded").hide();

            $(".expanded a, .collapsed a").click(function(eve) {
                eve.preventDefault();
                $(".expanded, .collapsed").toggle();
            });
        });
    </script>

    <div class="container" style="margin-top:20px;margin-bottom:50px;">

        <span class="collapsed">
            <p style="font-size:12px" title="{{search_str|truncatechars:500}}{%if search_str|length > 100 %}&#13;&#13;(Click caret to view full query).{% endif %}"><label>Query:</label>
                {{ search_str|truncatechars:100 }}
                {%if search_str|length > 100 %}
                 <a href="javascript:void(0)"> <span class="glyphicon glyphicon-triangle-bottom" style="border-width:8px;font-size:16px;"></span></a>
                {% endif %}
            </p>
        </span>

        <span class="expanded">
            <p style="font-size:12px" title="Click caret to fold-up query">
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-triangle-top" style="border-width:8px;font-size:16px;"></span></a>
                <label>Query:</label>
                {{ search_str }}
            </p>
        </span>

        <table style="margin-top:15px;margin-bottom:5px;">
            <tr>
                <td><a href="/search_annotations" class="btn btn-default" style="margin-right:10px;">New search</a></td>
                <td>
                    <form action="/select_search_results" method="post">
                        {% csrf_token %}
                        <input type="submit" name="submit_toselect" value="Export results" title="Select for export" class="btn btn-default"/>
                    </form>
                </td>
            </tr>
        </table>

        <h4>Exact match</h4>

        {% if exact %}

            <table class="table table-condensed" id="exact_search_result_table">

                <th><label>Files</label></th>

                {% for f in exact %}

                    <tr><td class="col-xs-12"><a href="{{f}}" target="_parent" title="Click to view on B2Share">{{ f }}</a></td></tr>

                {% endfor %}

            </table>

        {% else %}

            <p>No file retrieved on exact match to the query.</p>

        {% endif %}

        <h4>Related match (synonyms)</h4>

        {% if related %}

            <table class="table table-condensed" id="related_search_result_table">

                <th><label>Files</label></th>

                {% for f in related %}

                    <tr><td class="col-xs-12"><a href="{{f}}" target="_parent" title="Click to view on B2Share"/>{{ f }}</td></tr>

                {% endfor %}

            </table>

        {% else %}

            <p>No file retrieved on synonym match.</p>

        {% endif %}

    </div>

{% endblock %}
