{% extends "b2note_app/__base.html" %}

{% block content %}

    <h3>Search results</h3>

    <textarea rows="3" readonly>{{ search_str }}</textarea>

    <a href="/search_annotations" class="btn btn-default">New search</a>

    <form action="/select_search_results" method="post">

        {% csrf_token %}
        <input type="submit" name="submit_toselect" value="Export results" title="Select for export" class="btn btn-default"/>

    </form>


    <h4>Exact match</h4>

    {% if exact %}

        <table>

            <tr><td><label>File</label></td></tr>

            {% for f in exact %}

                <tr><td><a href="{{f}}" target="_parent" title="Click to view on B2Share">{{ f }}</a></td></tr>

            {% endfor %}

        </table>

    {% else %}

        <p>No file retrieved on exact match to the query.</p>

    {% endif %}

    <h4>Related match (synonyms)</h4>

    {% if related %}

        <table>

            <tr><td><label>File</label></td></tr>

            {% for f in related %}

                <tr><td><a href="{{f}}" target="_parent" title="Click to view on B2Share"/>{{ f }}</td></tr>

            {% endfor %}

        </table>

    {% else %}

        <p>No file retrieved on synonym match.</p>

    {% endif %}


    <br>
    <br>
    <br>

{% endblock %}