<!DOCTYPE html>

<html lang="en">

    <head>
    	<meta charset="UTF-8">

    	{% load staticfiles %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />

        <style>

            * {
                font-size:14px;
                font-family:'Verdana', Arial, Sans-Serif;
                box-sizing: border-box;
                margin-left:5px;
                text-align:left;
            }

        </style>

        <title>B2Note dump some text page</title>

    </head>

    <body>

        <h1 style="text-align:center">B2Note work in progress page.</h1>

        <br>

        <form action="interface_main" method="post">
            <input type="hidden" name="subject_tofeed" value="{{subject_tofeed}}" readonly="readonly" />
            <input type="hidden" name="pid_tofeed" value="{{pid_tofeed}}" readonly="readonly" />
            <input type="Submit" value="Back" title="Back to main interface"/>
        </form>

        <br><hr>

        <p>
            {{ text }}
        </p>

    </body>

</html>