<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">

{% load staticfiles %}
<link rel='stylesheet' type='text/css'
	href="{% static 'css/bootstrap.min.css' %}" />
<link rel='stylesheet' type='text/css'
	href="{% static 'css/style.css' %}" />

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<title>B2Note annotations export</title>

</head>

<body id="export">
	<div class="navbar navbar-default navbar-static-top">

		<div class="container">

			<div class="navbar-brand">B2Note interface</div>

			<button class="navbar-toggle" data-toggle="collapse"
				data-target=".navHeaderCollapse">

				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>

			</button>

			<div class="collapse navbar-collapse navHeaderCollapse">

				<ul class="nav navbar-nav navbar-right">

					<li>

						<form action="interface_main" method="post">

							<input type="hidden" name="subject_tofeed"
								value="{{subject_tofeed}}" readonly="readonly" /> <input
								type="hidden" name="pid_tofeed" value="{{pid_tofeed}}"
								readonly="readonly" /> <input class="btn btn-link"
								type="Submit" value="Back" title="Back to main interface" />

						</form>

					</li>

					<li>

						<form action="publish_annotations" method="post">

							<input type="hidden" name="subject_tofeed"
								value="{{subject_tofeed}}" readonly="readonly" /> <input
								type="hidden" name="pid_tofeed" value="{{pid_tofeed}}"
								readonly="readonly" /> <input type="Submit"
								class="btn btn-link" value="Publish"
								title="Make annotations available to SPARQL queries" />

						</form>

					</li>

					<li>

						<form action="settings" method="post">

							<input type="hidden" name="subject_tofeed"
								value="{{subject_tofeed}}" readonly="readonly" /> <input
								type="hidden" name="pid_tofeed" value="{{pid_tofeed}}"
								readonly="readonly" /> <input type="Submit"
								class="btn btn-link" value="Settings"
								title="Manage source ontologies" />

						</form>

					</li>

					<li>
						<!-- http://stackoverflow.com/questions/11828829/twitter-bootstrap-how-to-get-rid-of-underlined-button-text-when-hovering-over-a -->
						<a href="#" class="btn btn-link" value="Close"
						title="Close B2Note interface" onClick="hide_iframe()">Close</a>

					</li>

				</ul>

			</div>

		</div>

	</div>

	<div class="container" id="export-download">

		<a href="{% url 'searchapp.views.download_json' %}"
			class="btn btn-default btn-block">Download this JSON-LD</a>

	</div>

	<div class="container" id="export-content">

		{% if annotations_json %}

			<pre id="ann_json">{{annotations_json|safe}}</pre>

		{% endif %}

	</div>

</body>

</html>