<!DOCTYPE html>

<html lang="en">

    <head>
    	<meta charset="UTF-8">

    	{% load staticfiles %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'css/dashboard.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />

        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	    <script src="{% static "js/jquery.redirect.js" %}"></script>
        <script src="{% static "js/bloodhound.js" %}"></script>
        <script src="{% static "js/handlebars-v4.0.0.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/ontology-typeahead.js" %}"></script>
        <script src="{% static "js/underscore-min.js" %}"></script>
        <script src="{% static "js/typeahead.min.js" %}"></script>
        <script src="{% static "js/jquery.redirect.js" %}"></script>
    	<script src="{% static "js/utils.js" %}"></script>


	    <title>B2Note prototype interface</title>

    </head>

    <body id="interface_main">

        {% if subject_tofeed|length = 0 %}

            <script>hide_iframe();</script>

        {% else %}

            <script>show_iframe();</script>
		<div id="iframe_content">
            <div id="top_buttons">

                <table>
					<tr>
                    <td>
                        <form action="export_annotations" method="post">
                            <input type="hidden" name="subject_tofeed" value="{{subject_tofeed}}" readonly="readonly" />
                            <input type="hidden" name="pid_tofeed" value="{{pid_tofeed}}" readonly="readonly" />
                            <input type="Submit" value="Export" title="All your annotations as JSON"/>
                        </form>
                    </td>

                    <td>
                        <form action="publish_annotations" method="post">
                            <input type="hidden" name="subject_tofeed" value="{{subject_tofeed}}" readonly="readonly" />
                            <input type="hidden" name="pid_tofeed" value="{{pid_tofeed}}" readonly="readonly" />
                            <input type="Submit" value = "Publish" title = "Make annotations available to SPARQL queries"/>
                        </form>
                    </td>

                    <td>
                        <form action="settings" method="post">
                            <input type="hidden" name="subject_tofeed" value="{{subject_tofeed}}" readonly="readonly" />
                            <input type="hidden" name="pid_tofeed" value="{{pid_tofeed}}" readonly="readonly" />
                            <input type="Submit" value = "Settings" title = "Manage source ontologies"/>
                        </form>
                    </td>

                    <td><input class = question name="Close" type ="button" value = "x" title = "Close B2Note interface" onClick = "hide_iframe()" /></td>
					</tr>
                </table>

            </div>
			
			<div id="section_title">
            <h2>B2Note interface</h2>
			</div>

            <div id="section_subject">
                <h3>Subject</h3>
            	<table class="table-responsive">
                	<tr>
                		<td>url:</td>
                		<td><strong><a href="{{subject_tofeed}}" target="_blank">{{subject_tofeed}}</a></strong></td>
                	</tr>
		{% if pid_tofeed != "" %}
                	<tr>
                		<td>pid:</td>
                		<td>{{ pid_tofeed }}</td>
                	</tr>
		{% endif %}
				</table>
            </div>

            <div id="section_create">

                <h3>Create annotation</h3>

		   <div class="form-group">
                       <input type="text" class="form-control" name="q" id="id_q" value="{{ query }}"  placeholder="Type keyword"  autocomplete="off" spellcheck="false" dir="auto" />
		   </div>

            </div>

            <div id="section_existing">

                <h3>Existing annotations</h3>
                        <table>
                            {% for annotation in annotation_list %}
                                {% if subject_tofeed in annotation.triple.subject.iri %}
                                    {% if annotation.triple.object.label != "" %}
                                        <tr><form action="delete_annotation" method="post">
                                           <input type="hidden" name="db_id" value="{{annotation.id}}" readonly="readonly" />
                                           <input type="hidden" name="subject_tofeed" value="{{subject_tofeed}}" readonly="readonly" />
                                           <input type="hidden" name="pid_tofeed" value="{{pid_tofeed}}" readonly="readonly" />
                                        {% if "http://" in annotation.triple.object.iri %}
                                            <td id="predicateLabel"><a target="_blank" href={{annotation.triple.predicate.iri}}>{{annotation.triple.predicate.label}}</a></td>
                                            <!-- http://stackoverflow.com/questions/15712880/load-iframe-links-into-parent-window -->
                                            <td id="objectLabel"><a target="_blank" href={{annotation.triple.object.iri}}>{{annotation.triple.object.label}}</a></td>
                                        {% else %}
                                            <td id="predicateLabel">{{annotation.triple.predicate.label}}</td>
                                            <td id="objectLabel">{{annotation.triple.object.label}}</td>
                                        {% endif %}
                                        <!-- https://commons.wikimedia.org/wiki/File:Emojione_274C.svg -->
                                        <td id="delAnnotation"><input type="image" src="{% static "images/Emojione_274C.svg" %}" title="Delete annotation" alt="Delete annotation" /></td>
                					    </form></tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </table>
            </div>

        {% endif %}
		</div>
    </body>

</html>
