<template>
  <require from="../w3.css"></require>
    <require from="../components/autocomplete/good-auto-complete"></require>
  <require from="../components/autocomplete.css"></require>

  <table class="w3-small w3-striped">
    <tr>
      <th>logic</th>
      <th>type</th>
      <th class="w3-tiny">search query</th>
    </tr>
    <tr repeat.for="item of query">
      <td><select disabled.bind="item.first" class="w3-button w3-padding-4" value.bind="item.logic">
        <option value="" disabled.bind="!item.first"></option>
        <option value="AND">AND</option>
        <option value="OR">OR</option>
        <option value="AND NOT">AND NOT</option>
        <option value="XOR">XOR</option>
      </select>
      </td>
      <td>${item.type}</td>
      <td>${item.value}</td>
      <td>
        <button show.bind="child" class="w3-button w3-padding-4 w3-medium" click.delegate="modifyItem(item)" title="Modify search parameter"><i
          class="fa fa-pencil-square-o"></i></button>
      </td>
      <td>
        <button show.bind="child" class="w3-button w3-padding-4 w3-medium" click.delegate="deleteItem(item)" title="Remove search parameter"><i
          class="fa fa-minus"></i></button>
      </td>
    </tr>
  <tr class="w3-white w3-medium">
  <td>
      <select disabled.bind="!child" class="w3-small w3-button w3-padding-4" value.bind="logic">
        <option value="" disabled.bind="child"></option>
        <option value="AND">AND</option>
        <option value="OR">OR</option>
        <option value="AND NOT">AND NOT</option>
        <option value="XOR">XOR</option>
  </select>
  </td>
    <td colspan="5">
  <div>
  <!--div class="w3-bar w3-padding-top">
    <a class="w3-bar-item w3-hover-blue"
       class.bind="(active==tab.id) ? 'w3-white w3-border-top w3-border-left w3-border-right':'w3-border-bottom w3-light-gray'  "
       style="width:9em; white-space: normal;" repeat.for="tab of tabs" click.delegate="switchtab(tab.id)">${tab.label}
      <span if.bind="tab.id=='comment'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
  </div-->

  <!-- begin replacement-->
    <select class="w3-button" value.bind="active">
      <option value="semantic">Semantic annotation</option>
      <option value="keyword">Free-text keyword</option>
      <option value="comment">Comment</option>
    </select>
  <!-- replacement -->
  <br/>


  <div id="tabcontent">
    <div id="tab1" show.bind="active==='semantic'">
      <!--input placeholder="Type-in to select a tag." value.bind="annotationsemantic"/-->
              <good-auto-complete view-model.ref="goodautocomplete"
                    additional-class-input="form-control"
                    selected-item.bind="annotationsemantic"
                                  _value.bind="annotationsemanticraw"
                    suggestions-provider.bind="getSuggestions"
                    suggestions-debounce="1000"
                    min-search-value-length="3"
                    placeholder="Type-in to select a tag.">
        </good-auto-complete>

      <br/>
      <input class="w3-small" type="checkbox"/> <label class="w3-small">Include synonym matches </label>
    </div>
    <div show.bind="active==='keyword'">
      <input placeholder="Type-in a keyword." value.bind="annotationkeyword"/>

      <br/>
      <br/>
    </div>

    <div show.bind="active==='comment'">
      <!--textarea placeholder="Type your comment." value.bind="annotationcomment">
      </textarea-->
      <br/>
      <span class="w3-tiny">Returns all files with comment annotations<br/> (combines with the other search
        parameters). </span>
    </div>
  </div>
  </div>


  <div show.bind="!modify">
  <button class="w3-button" click.delegate="createChild()" title="Add Search Parameter"><i class="fa fa-plus"></i>
  </button>
  </div>

  <div show.bind="modify">
    <button class="w3-button" click.delegate="confirmModifiedItem()">Confirm modification</button>
  </div>
    </td>
    </tr>
    <tr  show.bind="modify" repeat.for="item of suffixquery">
      <td><select show.bind="item.logic!=''" class="w3-button" value.bind="item.logic">
        <option value="AND">AND</option>
        <option value="OR">OR</option>
        <option value="AND NOT">AND NOT</option>
        <option value="XOR">XOR</option>
      </select></td>
      <td>${item.type}</td>
      <td>${item.value}</td>
      <td>
        <button show.bind="child" class="w3-button  w3-padding-4 w3-medium" click.delegate="modifyItem(item)" title="Modify search parameter"><i
          class="fa fa-pencil-square-o"></i></button>
      </td>
      <td>
        <button show.bind="child" class="w3-button  w3-padding-4 w3-medium" click.delegate="deleteItem(item)" title="Remove search parameter"><i
          class="fa fa-minus"></i></button>
      </td>
    </tr>
  </table>

  <button class="w3-button" click.delegate="search()">Search</button>
<div show.bind="result && result._items">
        <p>Found ${result._items.length} annotations.<p>
        <table class="w3-border w3-striped w3-card-2 w3-padding" show.bind="result._items.length>0">
        <tr><th colspan="3">Used to annotate these files:</th></tr>
          <tr><th title="landing page">id</th><th title="direct link">source</th><th>tag</th></tr>
          <tr repeat.for="item of result._items"><td><a href.bind="item.target.id" class="w3-tiny">${item.target.id}</a></td><td><a href.bind="item.target.source" class="w3-tiny">${item.target.source}</a></td>
          <td>${item.body.items[item.body.items.length-1].value}</td>
          </tr>
        </table>
        <p></p>
      </div>
  <!--pre class="w3-tiny w3-card-2">${result}</pre-->
</template>
