<template>
  <nav class="w3-padding-0 w3-margin-0 w3-dark-blue w3-bar">

    <img alt="Brand" src="../images/logo.png" style="width:300px;">
    <ul class="w3-margin-0 w3-padding-0 ">
      <!-- list of icons-->
      <li repeat.for="row of navigation"
          class="w3-bar-item w3-padding-0 w3-navitem ${row.isActive ? 'w3-blue' : ''}">
        <!-- <b> shows username in it-->
        <a href.bind="row.href" class="w3-padding w3-large" style="text-decoration: none;"><i class="${row.settings.icon}"></i><b if.bind="row.href=='#/b2note_account'" class="w3-tiny"> ${username}</b><span if.bind="row.href=='#/b2note_login'"><i class="${row.settings.iconlogin}" show.bind="!loggedin"></i><i class="${row.settings.iconlogout}" show.bind="loggedin"></i></span></a>

      </li>
    </ul>

  </nav>
</template>
