<template>

    <div class="w3-bar w3-padding-top">
      <a class="w3-bar-item w3-hover-blue"
         class.bind="(active==tab.id) ? 'w3-white w3-border-top w3-border-left w3-border-right':'w3-border-bottom w3-light-gray'  "
         style="width:8em; white-space: normal;" repeat.for="tab of tabs" click.delegate="switchtab(tab.id)">${tab.label}
        <span if.bind="tab.id=='comment'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
    </div>
    <br/>
    <div id="tabcontent">
      <div id="tab1" show.bind="active==='semantic'">
        <input placeholder="Type-in to select a tag." value.bind="annotationsemantic"/>
      <button show.bind="child" class="w3-button" click.delegate="modify()" title="Modify Query Parameters">Modify</button>
        <br/>
        <input  class="w3-small" type="checkbox"/> <label class="w3-small">Include synonym matches </label>
      </div>
      <div show.bind="active==='keyword'">
        <input placeholder="Type-in a keyword." value.bind="annotationkeyword"/>
      <button show.bind="child" class="w3-button" click.delegate="modify()" title="Modify Query Parameters">Modify</button>
        <br/>
        <br/>
      </div>

      <div show.bind="active==='comment'">
        <!--textarea placeholder="Type your comment." value.bind="annotationcomment">
        </textarea-->
      <button show.bind="child" class="w3-button" click.delegate="modify()" title="Modify Query Parameters">Modify</button>
        <br/>
        <label class="w3-tiny">Returns all files with comment annotations (combines with the other search parameters). </label>
      </div>
    </div>
      <button show.bind="!child" class="w3-button" click.delegate="createChild()" title="Add Search Parameter"><i class="fa fa-plus"></i></button>
      <button show.bind="!child" class="w3-button" click.delegate="search()">Search</button>

      <button show.bind="child" class="w3-button" click.delegate="deleteChild()" title="Remove search parameters bellow"><i class="fa fa-minus"></i></button>
  <!-- TODO fix bug with logic button value - in child not in parent - modified value -->
      <select show.bind="child" class="w3-button" value.bind="logic">
        <option value="AND">AND</option>
        <option value="OR">OR</option>
        <option value="AND NOT">AND NOT</option>
        <option value="XOR">XOR</option>
      </select>
      <recursivesearchdialog if.bind="child"></recursivesearchdialog>

</template>
