<template>
      <table class="w3-border w3-striped w3-card-2 w3-padding">
      <tr>
        <td>Annotator pseudonym:</td>
        <td>${userinfo.pseudo}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>${userinfo.email}</td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>${userinfo.firstname}</td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td>${userinfo.lastname}</td>
      </tr>
      <tr>
        <td>Annotator experience:</td>
        <td>${userinfo.experience}</td>
      </tr>
      <tr>
        <td>Job title:</td>
        <td>${userinfo.jobtitle}</td>
      </tr>
      <tr>
        <td>Organization:</td>
        <td>${userinfo.org}</td>
      </tr>
      <tr>
        <td>Country:</td>
        <td>${userinfo.country}</td>
      </tr>
    </table>
</template>
